.account
    position: relative
    padding-bottom: 64px
    padding-top: 150px
    background-image: url("../images/ronaldo.png"), url("../images/corner.png"), url("../images/bg-intro.jpg")
    background-size: 47% auto, 38.8% auto, 100% auto
    background-position: bottom right, top right, top center

    @media (max-width: $screenL)
        padding-top: 130px

    @media (max-width: $screenM)
        background-image: url("../images/ronaldo.png"), url("../images/corner-mob.png"), url("../images/bg-intro-mob.jpg")
        background-size: 47% auto, 38.8% auto, cover

    @media (max-width: $screenS)
        padding-top: 140px
        background-image: url("../images/ronaldo-mob.png"), url("../images/corner-mob.png"), url("../images/bg-intro-mob.jpg")
        background-size: 96% auto, 38.8% auto, cover
        background-position: bottom center, top right, top center

    @media (max-width: $screenMob)
        padding-top: 70px
        background-image: url("../images/bg-intro-mob.jpg")
        background-size: cover 
        background-position: 0 0

    &__title 
        margin: 0 0 70px 0
        text-transform: uppercase
        font-weight: 900
        font-size: 64px
        line-height: 74px

        @media (max-width: $screenL)
            margin-bottom: 50px
            font-size: 36px
            line-height: 48px

        @media (max-width: $screenMob)
            margin-bottom: 25px
            font-size: 18px
            line-height: 24px

    &__wrapper 

        @media (max-width: $screenM)
            overflow: hidden

    &__tabs 
        max-width: 1042px

        .tabs 
            max-height: 1000000px

    .tabs
        margin-top: -60px

        @media (max-width: $screenM)
            margin-top: -66px

    .tab 
        min-height: 590px
