.btn 
    @include btn-reset
    display: inline-block
    vertical-align: top
    padding: 15px 20px
    text-transform: uppercase
    text-align: center
    font-weight: 900
    font-size: 16px
    line-height: 20px
    color: #fff
    letter-spacing: 0.3px
    border-radius: 25px
    transition: transform 0.3s ease, box-shadow 0.3s ease

    @media (max-width: $screenMob)
        padding: 8px 10px
        font-size: 8px
        line-height: 10px
        border-radius: 12px

    &:disabled,
    &.disabled 
        opacity: 0.5
        pointer-events: none

    &--yellow 
        padding: 18px 40px 20px
        font-size: 27.12px
        line-height: 40px
        color: $green
        background-color: $yellow
        border-radius: 21px
        box-shadow: -6px 6px 0 #a38d0b

        @media (max-width: $screenXL)
            font-size: 22px
            line-height: 24px

        @media (max-width: $screenMob)
            padding: 9px 20px 10px
            font-size: 11px
            line-height: 12px
            border-radius: 10px
            box-shadow: -3px 3px 0 #a38d0b

        &:hover,
        &:focus 
            transform: translate(-6px, 6px)
            box-shadow: 0 0 0 #a38d0b

            @media (max-width: $screenMob)
                transform: translate(-3px, 3px)

    &--transparent 
        @include hover
        padding: 17px 25px
        text-transform: uppercase
        text-align: center
        font-weight: 900
        font-size: 24px
        line-height: 31px
        color: $yellow
        border: 2px solid $yellow
        border-radius: 21px

        @media (max-width: $screenL)
            font-size: 20px
            line-height: 25px

        @media (max-width: $screenMob)
            padding: 9px 12px
            font-size: 10px
            line-height: 12px
            border-width: 1px 
            border-radius: 10px
