.codes-table

    &._mobile
        display: none

        @media (max-width: $screenS)
            display: block

    &__item 
        margin-bottom: 45px

        &:last-child 
            margin-bottom: 0

        @media (max-width: $screenMob)
            margin-bottom: 22px

            &:last-child 
                margin-bottom: 0

.code-item 
    text-align: center

    &__header 
        margin-bottom: 25px
        padding-bottom: 10px
        border-bottom: 4px solid $yellow

        @media (max-width: $screenMob)
            margin-bottom: 22px
            padding-bottom: 5px
            border-width: 2px

        p 
            margin: 0
            font-weight: 900
            text-transform: uppercase
            font-size: 30px
            line-height: 38px
            color: $yellow 

            @media (max-width: $screenMob)
                font-size: 15px
                line-height: 19px

    &__row 
        display: flex
        margin-bottom: 8px

        @media (max-width: $screenMob)
            margin-bottom: 4px

    &__label, 
    &__value 
        margin: 0
        text-align: left
        font-family: $font-alt 
        font-size: 32px
        line-height: 44px

        @media (max-width: $screenMob)
            font-size: 16px
            line-height: 22px

        a 
            @include hover
            color: $yellow

            span 
                border-bottom: 2px solid $yellow

                @media (max-width: $screenMob)
                    border-width: 1px

    &__label 
        min-width: 123px
        color: $yellow

        @media (max-width: $screenMob)
            min-width: 61px