.delivery
    box-sizing: border-box
    padding: 55px 60px
    width: 100%

    @media (max-width: $screenMob)
        padding: 27px 30px

.delivery-form
    display: flex
    flex-wrap: wrap
    width: 100%

    @media (max-width: $screenM)
        flex-direction: column

    &__col
        width: 50%

        @media (max-width: $screenM)
            width: 100%

            .form__field-wrapper 
                margin-left: auto
                margin-right: auto
                max-width: 400px

        @media (max-width: $screenS)

            .form__field-wrapper
                max-width: 100%

    &__footer 
        padding: 30px 0
        width: 100%
        display: flex 
        justify-content: center