.faq
    padding-top: 167px

    @media (max-width: $screenXL)
        padding-top: 130px
        padding-bottom: 20px

    @media (max-width: $screenMob)
        padding-top: 75px
        padding-bottom: 10px

    &__title 
        margin: 0 0 60px 0
        text-transform: uppercase
        font-weight: 900
        font-size: 48px
        line-height: 50px

        @media (max-width: $screenXL)
            margin-bottom: 20px
            font-size: 30px
            line-height: 40px

        @media (max-width: $screenL)
            text-align: center
            font-size: 36px
            line-height: 40px

        @media (max-width: $screenS)
            margin-bottom: 30px
            text-align: center
            font-size: 42px
            line-height: 50px

        @media (max-width: $screenMob)
            margin-bottom: 15px
            font-size: 21px
            line-height: 25px

    &__wrapper 
        left: 0
        display: flex 
        flex-direction: column
        max-height: calc(100vh - 167px)

        @media (max-width: $screenS)
            padding-right: 0

        @media (max-width: $screenMob)
            max-height: calc(100vh - 80px)

    &__inner
        flex-grow: 1
        display: flex
        flex-direction: column
        justify-content: center

        max-height: calc(100vh - 282px)

        @media (max-width: $screenXL)
            max-height: calc(100vh - 220px)

        @media (max-width: $screenM)
            margin-top: -84px
            max-height: calc(100vh - 150px)

        @media (max-width: $screenS)
            margin-top: 0
            max-height: calc(100vh - 123px)

        .mCSB_container
            display: flex

            @media (max-width: $screenM)
                flex-direction: column

    &._nofullpage 
        padding-bottom: 100px
        padding-bottom: 50px
        background-image: url("../images/ronaldo.png"), url("../images/corner.png"), url("../images/bg-intro.jpg")
        background-size: 47% auto, 38.8% auto, 100% auto
        background-position: bottom right, top right, top center

        @media (max-width: $screenL)
            background-size: 44% auto, 38.3% auto, 100% auto

        @media (max-width: $screenM)
            background-image: url("../images/ronaldo.png"), url("../images/corner.png"), url("../images/bg-intro-mob.jpg")
            background-size: 60% auto, 38.8% auto, cover

        @media (max-width: $screenM)
            padding-bottom: 0
            background-image: url("../images/bg-intro-mob.jpg")
            background-size: cover
            background-position: top center
            overflow: hidden

        @media (max-width: $screenMob)
            padding-bottom: 25px

        .faq__wrapper   
            max-height: 10000px

        .faq__inner 
            max-height: 100000px
            flex-direction: row
            justify-content: flex-start

            @media (max-width: $screenL)
                flex-direction: column

            @media (max-width: $screenM)
                margin-top: 0

        .faq__col:first-child
            width: 55%

            @media (max-width: $screenM)
                width: 100%

        .faq__col
            @media (max-width: $screenL)
                width: 60%

            @media (max-width: $screenM)
                width: 100%

    &__col 
        padding-right: 5%
        width: 45%

        @media (max-width: $screenM)
            width: 100%

        @media (max-width: $screenS)
            padding-right: 75px

        @media (max-width: $screenMob)
            padding-right: 39px

        &:first-child 
            padding-right: 8%
            flex-grow: 1

            @media (max-width: $screenL)
                padding-right: 5%

            @media (max-width: $screenM)
                box-sizing: border-box
                padding-right: 40px

            @media (max-width: $screenS)
                padding-right: 75px

            @media (max-width: $screenMob)
                padding-right: 39px

        &:last-child 

            @media (max-width: $screenM)
                padding-bottom: 50px

            @media (max-width: $screenMob)
                padding-bottom: 25px

    &__link 
        margin-left: -30px

        @media (max-width: $screenXL)
            margin-left: 0

        @media (max-width: $screenL)
            margin-left: -28px

        @media (max-width: $screenM)
            margin-left: 0

        @media (max-width: $screenS)
            margin-left: 0
            font-size: 24px

        @media (max-width: $screenMob)
            font-size: 12px

    &__btn 
        display: inline-block
        vertical-align: top

    .scrollable .mCSB_scrollTools
        top: 0
        bottom: 0
        margin: 0

        @media (max-width: $screenS)
            margin-right: 20px

        @media (max-width: $screenMob)
            margin-right: 10px
