.form
    &.disabled 
        position: relative

    ::-webkit-input-placeholder
        color: #482415
        opacity: 0.5
    :-moz-placeholder
        color: #482415
        opacity: 0.5
    ::-moz-placeholder
        color: #482415
        opacity: 0.5
    :-ms-input-placeholder
        color: #482415
        opacity: 0.5

    &__field-inner
        margin-left: 117px
        padding-top: 6px

        @media (max-width: $screenS)
            margin-left: 0

        &._low-gut
            margin-left: 15px

        .bl
            display: block

        &._left
            text-align: left

        &._remember
            max-width: 200px
            position: relative
            display: flex
            align-self: flex-end

            @media (max-width: 1440px)
                max-width: 184px

    &__field-wrapper
        position: relative
        display: flex
        justify-content: flex-end
        align-items: center
        margin-bottom: 15px

        @media (max-width: $screenXL)
            margin-bottom: 12px

        @media (max-width: $screenS)
            flex-direction: column
            align-items: flex-start
            margin-bottom: 26px

        @media (max-width: $screenMob)
            margin-bottom: 13px

        &._sb
            justify-content: space-between
            line-height: 1
            align-items: center
            flex-direction: unset !important

        &._center
            justify-content: center
            line-height: 1

            @media (max-width: 767px)
                align-items: center

        &._invalid 

            .form__field 
                box-shadow: inset 0 0 0 4px #fe776a

    &__btn-wrap
        max-width: 517px
        margin-left: auto
        margin-right: auto
        padding-left: 137px !important

        @media (max-width: $screenS)
            padding-left: 20px !important
            max-width: 400px

        @media (max-width: $screenMob)
            max-width: 320px
            display: block

        .form__field-inner
            margin-left: 0

            @media (max-width: $screenMob)
                text-align: center
                margin-top: 20px

    &__field 
        @include field-reset
        box-sizing: border-box
        padding: 9px 23px
        min-width: 300px
        font-size: 20px
        line-height: 30px
        color: #492513
        background-color: #fff
        border-radius: 24px

        &--fullwidth
            width: 100%

        @media (max-width: $screenXL)
            line-height: 28px
            border-radius: 22px

        @media (max-width: $screenS)
            padding: 17px 24px
            width: 100%
            font-size: 28px
            line-height: 30px
            border-radius: 32px

        @media (max-width: $screenMob)
            padding: 9px 12px 
            min-width: 100px
            font-size: 14px
            line-height: 15px
            border-radius: 16px

    &__field-label 
        margin-right: 17px
        text-align: right
        text-transform: uppercase
        font-weight: 900
        font-size: 18px
        line-height: 22px

        @media (max-width: $screenXL)
            font-size: 16px
            line-height: 20px

        @media (max-width: $screenL)
            font-size: 14px
            line-height: 18px

        @media (max-width: $screenS)
            margin-bottom: 8px
            text-align: left
            font-size: 24px
            line-height: 32px

        @media (max-width: $screenMob)
            margin-bottom: 4px
            font-size: 12px
            line-height: 16px

        &._center
            text-align: center

        &._yellow
            font-size: 18px
            line-height: 30px
            color: $yellow

            @media (max-width: $screenL)
                font-size: 16px

    &__upload-block
        display: flex
        align-items: center
        position: relative
        min-width: 300px
        height: 48px
        background-color: #fff
        border-radius: 24px

        height: 44px
        border-radius: 22px

        @media (max-width: $screenS)
            width: 100%
            height: 64px
            border-radius: 32px

        @media (max-width: $screenMob)
            min-width: 100px
            height: 32px
            border-radius: 16px

        .path
            color: #000
            width: 155px
            display: block
            text-overflow: ellipsis
            overflow: hidden
            padding-left: 20px
            white-space: nowrap

    &__upload 
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        cursor: pointer

        &:hover + .form__upload-link
            opacity: 0.9

    &__upload-link 
        position: absolute
        top: -1px
        bottom: -1px
        right: -1px
        box-sizing: border-box
        padding: 0 20px
        min-width: 100px
        text-align: center
        font-family: $font-alt
        font-size: 20px
        line-height: 48px
        color: #fff 
        background-color: #2b1403
        border: 1px solid #2b1403
        border-radius: 24px
        pointer-events: none
        transition: opacity 0.3s ease

        @media (max-width: $screenS)
            font-size: 30px
            line-height: 64px
            border-radius: 32px

        @media (max-width: $screenMob)
            font-size: 15px
            line-height: 32px
            border-radius: 16px

    &__checkbox,
    &__radio 
        position: absolute
        width: 0
        height: 0
        opacity: 0

    &__checkbox-label
        &.remember-link
            font-size: 20px !important
            line-height: 16px

            @media (max-width: $screenMob)
                font-size: 14px !important

    &__checkbox-label,
    &__radio-label
        display: block
        padding-left: 36px
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px
        letter-spacing: -0.2px

        @media (max-width: $screenL)
            font-size: 18px

    &__link 
        text-decoration: underline
        color: #fff 
        transition: color 0.3s ease

        &.clear_reg_form
            font-size: 16px
            color: $yellow
            text-transform: uppercase

            @media (max-width: $screenM)
                font-size: 14px

        &.clear_forgot_form
            font-size: 16px
            color: $yellow

            @media (max-width: $screenM)
                font-size: 14px

        &:hover,
        &:focus 
            color: $yellow

    &__checkbox-label

        &:before 
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 24px
            height: 24px
            background-color: #fff 
            border-radius: 7px

        &:after 
            content: ""
            position: absolute
            top: -1px
            left: 5px
            width: 9px
            height: 17px
            border-right: 4px solid $green
            border-bottom: 4px solid $green
            transform: rotate(45deg)
            opacity: 0
            transition: opacity 0.3s ease

    &__checkbox:checked + label 

        &:after 
            opacity: 1

    &__fieldset 
        margin-bottom: 30px

        @media (max-width: $screenL)
            @include row-component
            margin-bottom: 22px
            width: 100%

        @media (max-width: $screenM)
            flex-direction: column

        &._column 
            display: flex 
            flex-direction: column

        &._social 

            @media (max-width: $screenL)
                flex-direction: row
                justify-content: center

            @media (max-width: $screenS)
                flex-direction: column 
                justify-content: flex-start

        &._fullwidth
            flex-direction: column 
            align-items: stretch
            text-align: center

            .form

                &__field 
                    width: 100%

                &__field-label 
                    margin-right: 0
                    text-align: center

        &._captcha
            @include row-component

            @media (max-width: $screenS)
                flex-direction: column

    &__captcha-label 
        padding-right: 17px
        min-width: 136px
        font-family: $font-alt
        text-align: left
        font-size: 20px
        line-height: 20px

        @media (max-width: $screenS)
            width: 100%
            padding-right: 0
            text-align: center
            margin-bottom: 6px

    &__captcha-img 
        width: 112px
        height: 48px
        background-color: #e7d18d

        img 
            display: block
            width: 100%
            height: auto

    &__captcha-field 
        margin-left: 15px
        min-width: 100px

        @media (max-width: $screenS)
            margin-left: 0

    &__select-wrapper
        display: flex

        @media (max-width: $screenL)
            flex-grow: 1

        @media (max-width: $screenL)
            width: 100%

        @media (max-width: $screenS)
            flex-direction: column
            width: 100%

    .selectric-custom-select
        margin-right: 10px
        flex-grow: 1
        font-family: $font-alt
        font-size: 20px
        line-height: 30px

        @media (max-width: $screenS)
            margin-right: 0
            margin-bottom: 10px

        .label
            box-sizing: border-box
            margin-right: 30px
            margin-left: 0
            padding: 9px 0 9px 24px
            height: 48px
            text-align: left
            font-size: 20px
            line-height: 30px
            color: $brown

            @media (max-width: $screenL)
                padding-left: 20px

            @media (max-width: $screenS)
                padding: 17px 24px
                width: 100%
                height: 64px
                font-size: 28px
                line-height: 30px

            @media (max-width: $screenMob)
                padding: 9px 30px 9px 20px
                height: 33px
                font-size: 14px
                line-height: 15px

        &:last-child
            margin-right: 0

    .selectric
        border: none 
        border-radius: 24px
        background-color: #fff

        @media (max-width: $screenS)
            border-radius: 32px

        @media (max-width: $screenMob)
            border-radius: 24px

        .button 
            background-color: #fff
            height: 48px
            width: 30px

            @media (max-width: $screenS)
                height: 64px
                width: 50px

            @media (max-width: $screenMob)
                height: 33px
                width: 30px

            &:after 
                margin-left: 0

                @media (max-width: $screenS)
                    margin-left: auto

                @media (max-width: $screenMob)
                    margin-left: 0

    .selectric-open 

        .selectric
            border-radius: 24px 24px 0 0

    .selectric-items
        border: none 
        border-radius: 0 0 24px 24px
        overflow: hidden

    .selectric .button:after
        border-width: 9px
        border-top-color: $brown

    .selectric-items ul,
    .selectric-items li
        text-align: left
        font-size: 20px
        line-height: 30px
        color: $brown

    .selectric-

        &_day
            width: 25.143%

            @media (max-width: $screenS)
                width: 100%

        &_month 
            width: 40%

            @media (max-width: $screenS)
                width: 100%

        &_year 
            width: 28.57%

            @media (max-width: $screenS)
                width: 100%

    &__register-block 
        margin-top: 10px

.error-message, .errorMessage
    @include centerV
    left: calc(100% + 12px)
    display: none
    box-sizing: border-box
    padding: 14px 17px 11px 17px
    width: 196px
    font-family: $font-alt
    font-size: 20px
    line-height: 20px
    color: $red
    background-color: #fe776a
    border-radius: 10px
    z-index: 1

    @media (max-width: $screenM)
        transform: none
        right: 0
        left: auto 
        top: calc(100% + 6px)

    &:before
        content: ""
        @include centerV
        left: -19px 
        border: 10px solid $transparent 
        border-right-color: #fe776a

        @media (max-width: $screenM)
            @include centerH
            top: -19px
            border-right-color: $transparent 
            border-bottom-color: #fe776a

    ._invalid &, .error &
        display: block

.form-message
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: -6px
    height: 0
    display: flex 
    justify-content: center 
    align-items: center
    text-align: center
    background-color: rgba(71,37,21,.95)
    opacity: 0
    z-index: -1000
    pointer-events: none 
    transition: opacity 0.3s ease

    p 
        margin: 0
        font-family: $font-alt 
        font-size: 24px
        line-height: 30px

    a 
        color: $yellow

        span
            border-bottom: 1px solid $yellow

    .disabled &
        opacity: 1
        z-index: initial
        height: auto
        pointer-events: initial

.reg-code
    &__wrap
        position: relative

        .code-btn
            pointer-events: auto
            transition: opacity .3s ease-in-out

            &._hidden
                opacity: 0
                z-index: -1
                pointer-events: none

    &__inner
        display: flex
        position: absolute
        top: 0
        left: 0
        z-index: -1
        opacity: 0
        pointer-events: none
        width: 100%
        max-height: 0
        transition: opacity 0.3s ease-in-out
        transform-origin: 50% 50%

        &._show
            max-height: 100px
            z-index: 2
            opacity: 1
            pointer-events: auto

            .form__field
                max-width: 330px
                min-width: 330px

                @media (max-width: $screenMob)
                    max-width: 234px
                    min-width: 234px

        .btn
            margin-top: -6px
            margin-left: -30px
            margin-bottom: 6px

            @media (max-width: $screenMob)
                margin-top: -3px
                margin-bottom: 3px

        .form__field
            padding-right: 40px
            min-width: 0
            max-width: 0
            transition: all 0.4s ease-in-out