.gifts
    padding-top: 175px
    padding-bottom: 43px
    background-image: url("../images/bg-gifts.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: top center

    @media (max-width: $screenXL)
        padding-top: 130px

    @media (max-width: $screenM)
        background-image: url("../images/bg-gifts-tablet.png")

    @media (max-width: $screenS)
        background-image: url("../images/bg-gifts-mob.jpg")

    @media (max-width: $screenMob)
        padding-top: 75px

    &__link-wrap
        max-width: 546px
        width: 546px
        margin: 0 auto

        @media (max-width: $screenXL)
            max-width: 415px
            width: 415px

        @media (max-width: $screenM)
            position: absolute
            left: 50%
            margin-left: -192px
            bottom: 0
            z-index: 1

        @media (max-width: $screenS)
            margin-left: -230px

        @media (max-width: $screenMob)
            margin-left: -115px

    &__wrapper 
        display: flex
        flex-direction: column
        left: -10px
        padding: 0
        width: 100%
        max-width: 1750px

        @media (max-width: $screenL)
            left: 0

        @media (max-width: $screenS)
            justify-content: center

    &__slider-wrapper 
        display: flex 
        flex-direction: column 
        flex-grow: 1

        @media (max-width: $screenM)
            display: block 
            flex-grow: 0
            max-width: 100%
            padding-bottom: 70px

        @media (max-width: $screenS)
            flex-grow: 1

        @media (max-width: $screenMob)
            padding-bottom: 35px

        .swiper-button-prev,
        .swiper-button-next 
            display: none
            @include btn-reset
            margin-top: -60px
            width: 38px
            height: 60px
            background-image: none
            transform: scale(2,2)

            svg 
                display: block
                width: 100%
                height: 100%
                fill: $yellow

            @media (max-width: $screenS)
                display: block

            @media (max-width: $screenMob)
                margin-top: -30px
                width: 19px
                height: 30px

        .swiper-button-prev
            transform: scale(-2,2)
            left: 50px

            @media (max-width: $screenMob)
                left: 25px

        .swiper-button-next
            right: 50px

            @media (max-width: $screenMob)
                right: 25px

    &__title 
        margin: 0
        margin-bottom: 120px
        text-align: center
        text-transform: uppercase
        font-weight: 900
        font-size: 48px
        line-height: 50px

        @media (max-width: $screenL)
            font-size: 36px
            line-height: 40px

        @media (max-width: $screenM)
            margin-bottom: 20px

        @media (max-width: $screenMob)
            margin-bottom: 10px
            font-size: 24px
            line-height: 25px

    &__list
        @include list-reset;
        margin: auto 0
        display: flex;
        flex-grow: 1
        flex-shrink: 1
        max-height: 544px

        @media (max-width: $screenM)
            flex-wrap: wrap
            justify-content: center
            max-height: 100%

        @media (max-width: $screenS)
            flex-wrap: nowrap
            justify-content: flex-start

        li 
            display: flex
            flex-direction: column
            align-items: center 
            width: 33.333333%
            text-align: center

            @media (max-width: $screenXL)
                width: 16%

            @media (max-width: $screenL)
                width: 20%

            @media (max-width: $screenM)
                width: 50%
                max-height: 340px

            @media (max-width: $screenS)
                padding-top: 22%
                width: 100%
                max-height: calc(100vh - 350px)

            @media (max-width: $screenMob)
                max-height: calc(100vh - 200px)

            &:first-child,
            &:last-child
                width: 42%

                @media (max-width: $screenM)
                    width: 50%

            @media (max-width: $screenS)
                width: 100%

            &:last-child

                .gifts__img 
                    width: 115%

                    @media (max-width: $screenXL)
                        width: 85%

                    @media (max-width: $screenM)
                        width: 100%

            &:nth-child(2)

                .gifts__img 

                    img 
                        @media (max-width: $screenM)
                            max-height: 100%
                            width: auto
                            flex: none

            @media (max-width: $screenM)
                position: relative

    &__img 
        position: relative
        flex-grow: 1
        width: 100%

        @media (max-width: $screenXL)
            width: 65%

        @media (max-width: $screenM)
            width: 100%

        img 
            @include center
            display: block
            max-width: 100%
            height: auto

            @media (max-width: $screenXL)
                margin-top: -50px

            @media (max-width: $screenM)
                position: static
                top: 0
                margin: 0 auto
                transform: none

    &__info 

        @media (max-width: $screenM)
            position: absolute
            bottom: 40px
            left: 0
            right: 0

    &__name 
        position: relative
        margin: 0
        margin-top: auto
        text-transform: uppercase
        font-weight: 900
        font-size: 30px
        line-height: 40px
        color: #3d1909
        z-index: 1

        @media (max-width: $screenL)
            font-size: 20px
            line-height: 30px

        @media (max-width: $screenM)
            font-size: 20px
            line-height: 30px

        @media (max-width: $screenS)
            font-size: 36px
            line-height: 42px

        @media (max-width: $screenMob)
            font-size: 18px
            line-height: 21px

    &__descr 
        position: relative
        margin: 0
        text-transform: uppercase
        font-family: $font-alt 
        font-size: 24px
        line-height: 30px
        color: #55565f
        opacity: 0.6
        z-index: 1

        @media (max-width: $screenL)
            font-size: 16px
            line-height: 24px

        @media (max-width: $screenM)
            font-size: 15px
            line-height: 23px

        @media (max-width: $screenS)
            font-size: 30px
            line-height: 36px

        @media (max-width: $screenMob)
            font-size: 15px
            line-height: 18px

    &__btn 
        margin-left: auto
        margin-right: auto
        margin-top: 32px
        padding-top: 27px
        padding-bottom: 26px
        min-width: 466px
        font-size: 30px
        line-height: 48px
        border-radius: 27px

        @media (max-width: $screenXL)
            margin-top: 10px
            padding-top: 18px
            padding-bottom: 20px
            min-width: 304px
            font-size: 22px
            line-height: 24px
            border-radius: 21px

        @media (max-width: $screenL)
            font-size: 24px

        @media (max-width: $screenS)
            padding: 18px 38px
            font-size: 28px
            line-height: 42px
            white-space: nowrap

        @media (max-width: $screenMob)
            padding: 9px 19px 
            min-width: 100px
            font-size: 14px
            line-height: 21px
            border-radius: 13px


