.intro 
    position: relative
    background-image: url("../images/ronaldo.png"), url("../images/corner.png"), url("../images/bg-intro.jpg")
    background-size: 47% auto, 38.8% auto, 100% auto
    background-position: bottom right, top right, top center

    @media (max-width: $screenM)
        background-image: url("../images/ronaldo.png"), url("../images/corner-mob.png"), url("../images/bg-intro-mob.jpg")
        background-size: 47% auto, 38.8% auto, cover

    @media (max-width: $screenS)
        padding-top: 140px
        background-image: url("../images/ronaldo-mob.png"), url("../images/corner-mob.png"), url("../images/bg-intro-mob.jpg")
        background-size: 96% auto, 38.8% auto, cover
        background-position: bottom center, top right, top center

    @media (max-width: $screenMob)
        padding-top: 70px

    &:after 
        content: url("../images/intro-overlay.png")
        position: absolute
        bottom: -10px
        left: 0
        right: 0
        display: block
        width: 100%
        height: auto
        pointer-events: none

        @media (max-width: $screenS)
            display: none

    &__wrapper 
        display: flex 
        flex-direction: column

    &__col
        margin-top: auto
        margin-bottom: auto
        padding-bottom: 142px

        @media (max-width: $screenXL)
            padding-bottom: 50px

        @media (max-width: $screenL)
            display: flex 
            flex-direction: column 
            align-items: center
            max-width: 780px

        @media (max-width: $screenM)
            margin-top: 0
            margin-bottom: 0
            max-width: 100%
            padding-bottom: 36px
            flex-grow: 1
            display: flex 
            flex-direction: column

        @media (max-width: $screenMob)
            padding-bottom: 18px

    &__special-products
        margin-top: 30px
        margin-bottom: 50px
        margin-left: 10px

        @media (max-width: $screenXL)
            margin-bottom: 35px
            margin-top: 0

        @media (max-width: $screenL)
            display: none

    &__title 
        margin: 0 0 35px 0
        text-transform: uppercase
        font-weight: 900
        font-size: 75.96px
        line-height: 77px
        letter-spacing: -2px

        @media (max-width: $screenXL)
            margin-bottom: 30px
            font-size: 48px
            line-height: 48px

        @media (max-width: $screenL)
            margin-left: 0
            font-size: 48.89px
            line-height: 48.89px

        @media (max-width: $screenM)
            margin-left: 0
            margin-bottom: 32px
            align-self: center 
            text-align: center
            font-size: 42px
            line-height: 42px

        @media (max-width: $screenS)
            font-size: 40px
            line-height: 40px

        @media (max-width: $screenMob)
            font-size: 20px
            line-height: 20px

        .emph 
            display: block
            font-size: 124.75px
            line-height: 109px
            letter-spacing: -3px

            @media (max-width: $screenXL)
                font-size: 78.5px
                line-height: 78px

            @media (max-width: $screenL)
                font-size: 80.28px
                line-height: 81px

            @media (max-width: $screenM)
                font-size: 70px
                line-height: 70px

            @media (max-width: $screenS)
                font-size: 65px
                line-height: 65px

            @media (max-width: $screenMob)
                font-size: 32.5px
                line-height: 32.5px

    &__steps
        margin-bottom: 58px

        @media (max-width: $screenXL)
            margin-bottom: 30px

        @media (max-width: $screenL)
            width: 100%
            max-width: 100%

        @media (max-width: $screenS)
            display: none

    &__links 
        display: flex 
        flex-direction: column
        align-items: center
        max-width: 815px

        @media (max-width: $screenXL)
            max-width: 46%

        @media (max-width: $screenL)
            max-width: 100%

        @media (max-width: $screenM)
            align-items: flex-start
            max-width: 100%
            flex-grow: 1
            padding-bottom: 35px

        @media (max-width: $screenS)
            flex-grow: 0
            margin-top: auto
            padding-bottom: 0
            max-width: 100%

    &__btn 
        position: relative
        margin-bottom: 58px
        z-index: 1

        @media (max-width: $screenXL)
            margin-bottom: 30px

        @media (max-width: $screenL)
            font-size: 24px

        @media (max-width: $screenM)
            margin-bottom: 0

        @media (max-width: $screenS)
            align-self: center
            padding: 18px 45px
            font-size: 27px
            line-height: 42px

        @media (max-width: $screenMob)
            padding: 9px 22px
            font-size: 14px
            line-height: 21px

    &__link 
        position: relative
        left: -12px
        @include hover
        display: inline-block
        vertical-align: top
        text-transform: uppercase
        font-family: $font-alt
        font-size: 16.21px
        line-height: 19px
        color: #fff
        z-index: 1

        span
            border-bottom: 2px solid #fff

        @media (max-width: $screenM)
            left: 0
            margin-top: auto

        @media (max-width: $screenS)
            display: none