.logo 
    flex: none
    width: 145px
    height: 36px

    @media (max-width: $screenMob)
        width: 73px
        height: 17px

    img 
        display: block
        width: 100%
        height: auto