.main-navigation 

    @media (max-width: $screenS)
        order: 2
        width: 100%

.main-menu 
    @include list-reset
    display: flex

    @media (max-width: $screenM)
        @include centerH

    @media (max-width: $screenS)
        display: none

    &__item 
        position: relative
        padding-top: 2px
        margin-right: 27px
        text-transform: uppercase
        font-size: 18px
        line-height: 34px
        white-space: nowrap

        @media (max-width: $screenL)
            margin-right: 20px
            font-size: 18px

        @media (max-width: $screenM)
            display: none

            &.current
                display: block

        @media (max-width: $screenMob)
            padding: 3px
            font-size: 8px
            line-height: 12px

        .main-menu--mobile &

            @media (max-width: $screenM)
                display: block

        &:hover 

            &:after 
                content: ""
                position: absolute
                top: 100%
                left: 0
                right: 0
                height: 10px
                background-color: $transparent

                @media (max-width: $screenMob)
                    height: 5px

        &.expanded,
        &.current 
            padding-left: 19px
            padding-right: 23px

            &:before 
                content: ""
                position: absolute
                top: 0
                left: 0
                right: 0
                height: 36px
                border-radius: 5px 0 5px 0
                transform: skew(-17deg)
                transition: background-color 0.3s ease

                @media (max-width: $screenMob)
                    height: 18px

            @media (max-width: $screenM)
                margin-right: 0

        &.current

            &:before 
                background-color: $red

        &.expanded

            &:before
                background-color: $yellow

            .main-menu__link
                color: #48281b

        span 
            position: relative

    &__link 
        @include hover
        color: #fff

    &--mobile 
        position: static
        transform: none
        order: 2
        flex-direction: column
        text-align: center
        display: none

        @media (max-width: $screenM)
            display: block
            width: 100%

        .main-menu

            &__item 

                @media (max-width: $screenM)
                    display: flex
                    justify-content: center
                    margin-right: 0
                    text-align: center

                    &:after 
                        content: url('../images/shadow.png')
                        position: absolute
                        top: 100%
                        left: 0
                        right: 0

                        @media (max-width: $screenMob)
                            transform: translateX(-50%) scale(0.5, 0.5)
                            transform-origin: top center
                            left: 50%
                            right: auto

                    &.active 
                        margin-bottom: 9px
                        margin-left: auto
                        margin-right: auto

                        &:after 
                            display: none

                        .main-menu__link
                            margin-left: auto
                            margin-right: auto
                            box-sizing: border-box
                            min-width: 455px
                            font-weight: 900
                            font-size: 27px
                            line-height: 38px
                            color: $green
                            background-color: $yellow
                            border-radius: 20px
                            box-shadow: -6px 6px 0 #a38d0b
                            transition: transform 0.3s ease, box-shadow 0.3s ease

                            @media (max-width: $screenMob)
                                min-width: 227px
                                font-size: 14px
                                line-height: 19px
                                border-radius: 10px

                            &:hover,
                            &:focus 
                                transform: translate(-6px, 6px)
                                box-shadow: 0 0 0 #a38d0b

                                @media (max-width: $screenMob)
                                    transform: translate(-3px,-3px)

            &__link
                display: block
                padding: 12px 25px 10px 25px
                font-size: 30px
                line-height: 50px
                color: $yellow

                @media (max-width: $screenMob)
                    padding: 6px 13px 5px 13px 
                    font-size: 15px
                    line-height: 25px
