.menu-trigger 
    @include btn-reset
    width: 36px
    height: 30px
    font-size: 0

    @media (max-width: $screenMob)
        width: 18px
        height: 18px

    span
        @include centerV
        left: 0
        width: 100%
        height: 5px
        background-color: #fff

        @media (max-width: $screenMob)
            height: 2px

        &:before,
        &:after 
            content: ""
            position: absolute
            left: 0
            width: 100%
            height: 5px
            background-color: #fff
            transition: transform 0.3s ease

            @media (max-width: $screenMob)
                height: 2px

        &:before 
            top: -12px

            @media (max-width: $screenMob)
                top: -6px

        &:after 
            bottom: -12px

            @media (max-width: $screenMob)
                bottom: -6px

    .opened & 

        span 
            background-color: $transparent

            &:before,
            &:after 
                bottom: auto 
                top: 0
                transform: rotate(45deg)

            &:after 
                transform: rotate(-45deg)