.modal-overlay 
    position: fixed 
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(36, 15, 5, 0.9)
    z-index: -100000
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease
    overflow-y: auto
    overflow-x: hidden

    &.opened 
        opacity: 1
        z-index: 100
        pointer-events: initial

.modal
    @include center
    width: 740px
    background-color: #492514
    border-radius: 25px 25px 0 0

    @media (max-width: $screenM)
        width: 560px

    @media (max-width: $screenS)
        width: calc(100% - 80px)
        border-radius: 16px

    @media (max-width: $screenMob)
        top: 0
        left: 0
        right: 0
        transform: none
        width: 100%
        min-height: 100vh
        border-radius: 8px

    &:after 
        content: ""
        position: absolute
        left: 0
        right: 0
        bottom: -100px
        height: 100px
        width: 100%
        background-image: url("../images/modal-bar.png")
        background-repeat: repeat-x 
        background-size: auto 100% 
        background-position: top center

        @media (max-width: $screenS)
            display: none

    &__close 
        position: absolute
        top: 0
        right: -48px
        @include hover
        @include btn-reset
        width: 28px
        height: 28px
        font-size: 0
        z-index: 1

        @media (max-width: $screenS)
            top: 30px
            right: 24px
            width: 34px
            height: 34px

        @media (max-width: $screenMob)
            top: 15px
            right: 12px
            width: 17px
            height: 17px

        svg
            fill: #fff

            @media (max-width: $screenS)
                position: absolute
                top: 0
                left: 0
                fill: $yellow
                display: block
                width: 100%
                height: 100%

    &__inner 
        padding: 50px

        @media (max-width: $screenL)
            padding: 40px

        @media (max-width: $screenS)
            padding-right: 30px
            padding-bottom: 40px
            max-height: calc(100vh - 80px)

            &.scrollable .mCSB_scrollTools
                margin-right: 3px

            &.scrollable
                padding-bottom: 0

        @media (max-width: $screenMob)
            padding: 25px
            max-height: calc(100% - 40px)

            &.scrollable
                padding-right: 15px

    &__title 
        margin: 0 0 28px 0
        text-transform: uppercase
        font-weight: 900
        font-size: 42px
        line-height: 52px

        @media (max-width: $screenL)
            font-size: 36px
            line-height: 46px

        @media (max-width: $screenMob)
            font-size: 24px
            line-height: 28px

    &__text-block 
        margin-bottom: 37px

    &__text 
        margin: 0
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px

    &__btn 
        padding-top: 19px
        padding-bottom: 21px
        font-size: 24px
        border-radius: 18px

    &._center
        text-align: center

    &._message 

        .modal 

            &__inner 
                padding-bottom: 6px

                @media (max-width: $screenL)
                    padding-bottom: 6px

                @media (max-width: $screenS)
                    padding-bottom: 25px

    &._register-form
        width: 560px

        &:before 
            display: none
            content: ""
            position: absolute
            bottom: 0
            left: 0
            right: 0
            border-radius: 0 0 16px 16px
            height: 150px
            background-image: linear-gradient(to top, rgba(73,37,20,0.8) 0%, $transparent 100%)
            z-index: 1
            pointer-events: none

            @media (max-width: $screenS)
                display: block

            @media (max-width: $screenMob)
                height: 75px
                border-radius: 0 0 8px 8px

        .mCSB_container
            padding-bottom: 6px

        @media (max-width: $screenMob)
            width: 100%


    &._age

        .modal
            margin-bottom: 28px

            &__text-block
                padding: 0 50px

                @media (max-width: $screenS)
                    padding: 0

    &._authorize 

        .form

            &__field-label
                min-width: 100px

            &__field-label._yellow
                margin-bottom: 10px

            &__fieldset._social

                @media (max-width: $screenL)

                    ._yellow
                        margin-bottom: 0

            &__field-wrapper
                box-sizing: border-box
                padding: 0 20px
                width: 100%

            &__field 
                flex-grow: 1

            &__fieldset 
                width: 100%

                &:first-child 
                    margin-bottom: 35px

                    @media (max-width: $screenL)
                        margin-bottom: 20px

    &._register
        width: 640px

        .modal__inner 
            max-height: 10000px

        @media (max-width: $screenS)
            width: 100%

        .form 
            padding-bottom: 50px

        .form__field-wrapper
            width: 100%

        .form__field
            min-width: 348px

            @media (max-width: $screenS)
                min-width: 250px

        .form__select-wrapper
            width: 348px
            @media (max-width: $screenS)
                width: 100%

        .form .selectric-custom-select .label
            margin-right: 30px

        .form .selectric .button
            //width: 40px

        .form 

            @media (max-width: $screenS)
                padding-right: 10px

        .modal__btn 

            @media (max-width: $screenS)
                padding-bottom: 17px
                font-size: 17px
                border-radius: 15px

        .form__field-wrapper._rules 
            width: 348px
            margin-left: auto
            justify-content: flex-start

            @media (max-width: $screenS)
                width: 250px

            a
                color: $yellow
                font-size: 20px
                line-height: 20px

    &._address
        width: 640px

        @media (max-width: $screenS)
            width: 100%

        .form 
            margin-left: auto
            margin-right: auto
            max-width: 470px

            &__field-label 
                margin-bottom: 20px
