.offers
    padding-bottom: 54px
    padding-top: 170px

    @media (max-width: $screenXL)
        padding-top: 150px

    @media (max-width: $screenL)
        padding-top: 130px

    @media (max-width: $screenMob)
        padding-bottom: 27px
        padding-top: 75px

    &__title 
        flex: none
        margin: 0 0 67px 0
        text-align: center
        text-transform: uppercase
        font-weight: 900
        font-size: 48px
        line-height: 50px
        letter-spacing: -1px

        @media (max-width: $screenXL)
            margin-bottom: 40px
            font-size: 30px
            line-height: 40px

        @media (max-width: $screenL)
            margin-bottom: 30px
            font-size: 36px
            line-height: 40px

        @media (max-width: $screenMob)
            margin-bottom: 20px
            font-size: 15px
            line-height: 20px
            letter-spacing: -0.5px

    &__wrapper
        display: flex
        flex-direction: column
        flex-grow: 1
        width: 1221px
        left: 0

        @media (max-width: $screenL)
            width: 100%
            max-width: 1221px

        @media (max-width: $screenS)
            justify-content: center

    &__form 

        @media (max-width: $screenM)
            display: none

    &__tab-col 

        @media (max-width: $screenL)
            width: 100%

        @media (max-width: $screenM)
            flex-grow: 1
            width: 56%
            min-width: 420px

        @media (max-width: $screenS)
            width: 100%
            min-width: 100px

        @media (max-width: $screenMob)
            min-width: 50px

        &:first-child 

            @media (max-width: $screenL)
                display: none

    &__tab 

        @media (max-width: $screenM)
            flex-direction: column

    &__tabs 
        display: flex 
        flex-direction: column 
        flex-grow: 1

        @media (max-width: $screenS)
            flex-grow: 0

    .tabs 
        display: flex 
        flex-direction: column 
        flex-grow: 1

        @media (max-width: $screenS)
            margin-top: 0
            max-height: calc(100vh - 303px)
            background-color: $transparent 
            background-image: none
            box-shadow: none
            border-radius: 0

        @media (max-width: $screenMob)
            max-height: calc(100vh - 150px)

        &.scrollable .mCSB_scrollTools

            @media (max-width: $screenS)
                margin-right: 0
                flex-grow: 0

    .js-tabs-rtl .tab-controls

        @media (max-width: $screenM)
            //margin-top: -84px
            max-height: calc(100vh - 412px)

        @media (max-width: $screenS)
            position: absolute
            top: 72px
            right: 0
            margin-top: 0
            flex-direction: column-reverse
            border-radius: 0 0 25px 25px
            background-color: #2b1403
            box-shadow: 0 5px 16px 5px rgba(0,0,0,.35)
            transition: max-height 0.3s ease
            cursor: pointer
            z-index: 5
            max-height: 0
            overflow: hidden

        @media (max-width: $screenMob)
            top: 36px
            border-radius: 0 0 12px 12px
            box-shadow: 0 2.5px 8px 2.5px rgba(0,0,0,0.35)

    .tab-controls-wrapper.opened 

        .tab-controls

            @media (max-width: $screenS)
                max-height: 10000px

    .tab-control 

        @media (max-width: $screenS)
            margin: 0
            box-sizing: border-box
            padding: 10px
            width: 100%
            background-color: $transparent
            box-shadow: none
            border-radius: 0

        @media (max-width: $screenMob)
            padding: 5px

        &.active 
            padding-top: 25px

            @media (max-width: $screenS)
                margin-top: 0
                padding-top: 10px
                background-color: #472514
                box-shadow: none

            @media (max-width: $screenMob)
                padding-top: 5px

        &:first-child
            margin-left: 0

            @media (max-width: $screenS)
                padding-bottom: 25px

                @media (max-width: $screenMob)
                    padding-bottom: 12px

                &.active 
                    padding-bottom: 25px

                    @media (max-width: $screenMob)
                        padding-bottom: 12px

            .js-tabs-rtl &
                margin-left: -4px

                @media (max-width: $screenS)
                    margin-left: 0

        &:last-child 

            @media (max-width: $screenS)
                padding-top: 25px

                @media (max-width: $screenMob)
                    padding-top: 12px

                &.active 
                    padding-top: 25px

                    @media (max-width: $screenMob)
                        padding-top: 12px

            .js-tabs-rtl &
                margin-left: 0





