.offer-rules

    &__wrapper 
        display: flex 
        flex-direction: column 

        @media (max-width: $screenMob)
            justify-content: center

    &__steps 
        max-width: 100%
        align-self: flex-start

        @media (max-width: $screenMob)
            margin-left: auto
            margin-right: auto

    &__links
        display: flex 
        flex-direction: column 
        align-items: center 
        margin-top: auto
        padding-bottom: 40px

        @media (max-width: $screenMob)
            margin-top: 20px
            padding-bottom: 20px

    &__scroll
        position: relative
        left: 0
        bottom: 0
        flex: none
        margin-left: 0
        margin-bottom: 36px

        @media (max-width: $screenMob)
            margin-bottom: 18px

    &__link 
        position: relative
        left: -12px
        @include hover
        display: inline-block
        vertical-align: top
        text-transform: uppercase
        font-family: $font-alt
        font-size: 28px
        line-height: 32px
        color: #fff
        z-index: 1

        @media (max-width: $screenMob)
            left: -6px
            font-size: 14px
            line-height: 16px

        span
            border-bottom: 2px solid #fff

            @media (max-width: $screenMob)
                border-width: 1px
