.pagination
    display: flex
    justify-content: center

    @media (max-width: $screenL)
        width: 848px

    @media (max-width: $screenM)
        width: 100%

    &__list 
        position: relative
        @include list-reset
        display: flex
        justify-content: center
        padding-top: 11px
        padding-bottom: 14px
        background-color: #fff
        border-radius: 24px

        @media (max-width: $screenS)
            padding-top: 12px
            padding-bottom: 19px

        @media (max-width: $screenMob)
            padding-top: 6px
            padding-bottom: 9px
            border-radius: 12px

        &>*
            position: relative
            z-index: 1

        &:before,
        &:after
            content: ""
            position: absolute
            right: 50%
            left: -20px
            top: 0
            bottom: 0
            background-color: #fff
            border-radius: 0 0 0 30px
            transform: skew(16deg)

            @media (max-width: $screenS)
                left: -40px

            @media (max-width: $screenMob)
                left: -20px
                border-radius: 0 0 0 15px

        &:after
            left: 50%
            right: -20px
            border-radius: 0 0 30px 0
            transform: skew(-16deg)

            @media (max-width: $screenS)
                right: -40px

            @media (max-width: $screenMob)
                border-radius: 0 0 15px 0
                right: -20px

    &__item 
        min-width: 32px
        height: 32px
        text-align: center
        font-weight: 900
        font-size: 22px
        line-height: 32px
        border-radius: 50%
        transition: background-color 0.3s ease 

        @media (max-width: $screenS)
            display: none

        a
            color: #482415
            transition: color 0.3s ease

            &.disabled 
                pointer-events: none
                opacity: 0.5

        &._current,
        &:hover
            background-color: $yellow 

            a 
                color: $green

        &._ellipsis 
            pointer-events: none

        &._prev,
        &._next 
            margin-top: 4px
            min-width: 24px
            width: 24px
            height: 20px
            line-height: 20
            cursor: pointer

            @media (max-width: $screenS)
                @include hover
                display: block
                width: 46px
                height: 38px

            @media (max-width: $screenMob)
                width: 23px
                height: 19px

            &:hover 
                background-color: $transparent

            img 
                display: block
                width: 100%
                height: auto

        &._prev 
            margin-right: 25px

            @media (max-width: $screenS)
                margin-right: 30px

            @media (max-width: $screenMob)
                margin-right: 15px

        &._next 
            margin-left: 25px

            @media (max-width: $screenS)
                margin-left: 30px

            @media (max-width: $screenMob)
                margin-left: 15px
