.personal
    display: flex
    box-sizing: border-box
    padding: 48px 65px 50px 
    width: 100%

    @media (max-width: $screenM)
        flex-direction: column

    @media (max-width: $screenMob)
        padding: 36px 20px

    &__info 
        position: relative
        display: flex 
        flex-direction: column 
        justify-content: center
        min-width: 36%

        @media (max-width: $screenL)
            min-width: 30%

        @media (max-width: $screenM)
            flex-direction: row
            justify-content: flex-start

        &:before
            content: ""
            position: absolute
            top: 0
            bottom: 0
            right: -1px
            width: 2px
            background-image: linear-gradient(to bottom, #c69b88 0%, #c69b88 16px, $transparent 16px, $transparent 100%)
            background-size: 2px 25px
            background-repeat: repeat-y
            opacity: 0.2

            @media (max-width: $screenM)
                top: auto 
                left: 0
                right: 0
                width: auto
                height: 2px
                background-image: linear-gradient(to right, #c69b88 0%, #c69b88 16px, $transparent 16px, $transparent 100%)
                background-repeat: repeat-x
                background-size: 25px 2px

    &__form 
        flex-grow: 1
        display: flex 
        flex-direction: column 
        align-items: flex-end

        @media (max-width: $screenL)
            min-width: 62%

    &__info-block

        @media (max-width: $screenM)
            display: flex 
            flex-direction: column 
            justify-content: center

    &__img 
        margin-bottom: 20px
        width: 128px
        min-width: 128px
        height: 128px
        background-color: #f6f6f6
        border-radius: 50%  
        overflow: hidden 

        @media (max-width: $screenM)
            margin-right: 28px

        @media (max-width: $screenMob)
            margin-right: 14px
            width: 64px
            min-width: 64px
            height: 64px

        img 
            display: block
            width: 100%
            height: auto

    &__name 
        margin: 0 0 10px 0
        padding-right: 30px
        text-transform: uppercase
        font-weight: 900
        font-size: 18px
        line-height: 24px
        color: $yellow

        @media (max-width: $screenMob)
            margin-bottom: 5px
            padding-right: 15px
            font-size: 9px
            line-height: 12px

    &__method 
        margin: 0
        font-family: $font-alt 
        font-size: 20px
        line-height: 22px

        @media (max-width: $screenM)
            margin-bottom: 22px

        @media (max-width: $screenMob)
            margin-bottom: 11px 
            font-size: 10px
            line-height: 11px

.personal-form

    @media (max-width: $screenM)
        padding-top: 30px
        width: 100%

    &__footer 
        display: flex 
        justify-content: flex-end

    .form

        &__field 
            min-width: 348px

            @media (max-width: $screenMob)
                min-width: 100%

        &__field-wrapper 
            margin-bottom: 15px

        &__select-wrapper
            width: 348px
            min-width: 348px

            @media (max-width: $screenM)
                flex-grow: 0

            @media (max-width: $screenS)
                width: 100%

            @media (max-width: $screenMob)
                min-width: 100%

    &__btn 
        margin-top: 30px
        margin-right: 112px
        min-width: 230px

        @media (max-width: $screenM)
            margin-right: auto
            margin-left: auto