.products
    padding-bottom: 50px
    background-image: url("../images/ronaldo.png"), url("../images/corner.png"), url("../images/bg-intro.jpg")
    background-size: 47% auto, 38.8% auto, 100% auto
    background-position: bottom right, top right, top center

    @media (max-width: $screenL)
        background-size: 44% auto, 38.3% auto, 100% auto

    @media (max-width: $screenM)
        background-image: url("../images/ronaldo.png"), url("../images/corner.png"), url("../images/bg-intro-mob.jpg")
        background-size: 60% auto, 38.8% auto, cover

    @media (max-width: $screenS)
        background-image: url("../images/bg-intro-mob.jpg")
        background-size: cover
        background-position: top center

    @media (max-width: $screenMob)
        padding-bottom: 25px

    &._nofullpage 
        padding-top: 130px

        @media (max-width: $screenS)
            padding-top: 70px

    &__wrapper 
        display: flex 
        flex-direction: column 
        justify-content: center

        @media (max-width: $screenM)
            justify-content: space-around

        @media (max-width: $screenS)
            justify-content: flex-start

    &__slider

        @media (max-width: $screenS)
            max-width: 100%
            display: flex 
            flex-direction: column
            flex-grow: 1
            margin-top: auto

    &__inner 
        display: flex
        flex-wrap: wrap
        width: 700px

        @media (max-width: $screenXL)
            width: 60%

        @media (max-width: $screenL)
            width: 100%
            max-width: 780px

        @media (max-width: $screenM)
            width: 75%
            flex-grow: 2

        @media (max-width: $screenS)
            width: 100%
            flex-wrap: nowrap
            align-items: stretch

    &__title 
        margin: 0 0 60px 0
        text-transform: uppercase
        font-weight: 900
        font-size: 32px
        line-height: 42px
        letter-spacing: -1px

        @media (max-width: $screenXL)
            margin-bottom: 30px

        @media (max-width: $screenL)
            text-align: center
            font-size: 24px
            line-height: 32px

        @media (max-width: $screenM)
            text-align: center
            font-size: 24px
            line-height: 32px

        @media (max-width: $screenMob)
            margin-bottom: 15px
            font-size: 12px
            line-height: 16px

        .emph
            display: block
            font-size: 64px
            line-height: 64px
            letter-spacing: 0

            @media (max-width: $screenL)
                font-size: 36px
                line-height: 36px

            @media (max-width: $screenMob)
                font-size: 18px
                line-height: 18px

    .swiper-button-prev,
    .swiper-button-next 
        display: none
        @include btn-reset
        top: auto
        bottom: 0
        margin-top: 0
        width: 38px
        height: 60px
        background-image: none
        transform: scale(2,2)

        @media (max-width: $screenMob)
            width: 19px
            height: 30px

        svg 
            display: block
            width: 100%
            height: 100%
            fill: $yellow

        @media (max-width: $screenS)
            display: block

    .swiper-button-prev
        transform: scale(-2,2)
        left: 10px

        @media (max-width: $screenMob)
            left: 5px

    .swiper-button-next
        right: 10px

        @media (max-width: $screenMob)
            right: 5px

.product
    display: flex 
    flex-direction: column
    margin-bottom: 60px
    width: 50%

    @media (max-width: $screenXL)
        margin-bottom: 20px

    @media (max-width: $screenL)
        align-items: center

    @media (max-width: $screenM)
        margin-bottom: 40px
        //align-items: flex-start

        &:first-child 
            order: 1

        &:nth-child(2)
            order: 2

        &:nth-child(3)
            order: 4 

        &:nth-child(4)
            order: 3

    @media (max-width: $screenS)
        margin-bottom: 0
        height: calc(100vh - 283px)

    @media (max-width: $screenMob)
        height: calc(100vh - 142px)

    &:last-child,
    &:nth-last-child(2)
        margin-bottom: 0

        @media (max-width: $screenM)
            margin-bottom: 40px
            width: 51%

        @media (max-width: $screenS)
            margin-bottom: 0
            width: 100%
            max-width: 100%
            max-height: 100%

    &:last-child

        img 

            @media (max-width: $screenM)
                width: 100%

            @media (max-width: $screenS)
                width: 100%

    &:nth-last-child(2)

        img

            @media (max-width: $screenM)
                width: 50%

            @media (max-width: $screenS)
                max-height: 100%
                width: 50%


    &__img 
        flex-grow: 1
        display: flex 
        flex-direction: column 
        justify-content: center
        margin-bottom: 20px

        @media (max-width: $screenXL)
            margin-bottom: 10px

        @media (max-width: $screenMob)
            margin-bottom: 5px

        img 
            display: block
            max-width: 100%
            height: auto

            @media (max-width: $screenM)
                margin: 0 auto 
                width: 80%

            @media (max-width: $screenS)
                max-height: 100%
                max-width: 100%
                width: 100%

    &__title 
        margin: 0
        text-transform: uppercase
        font-family: $font-alt
        font-size: 24px
        line-height: 32px
        color: $yellow

        @media (max-width: $screenXL)
            font-size: 20px
            line-height: 28px

        @media (max-width: $screenL)
            font-size: 18px
            line-height: 24px

        @media (max-width: $screenM)
            text-align: center
            font-size: 18px
            line-height: 21px

        @media (max-width: $screenS)
            padding-left: 70px
            padding-right: 70px
            padding-bottom: 12px
            font-size: 30px
            line-height: 32px

        @media (max-width: $screenMob)
            padding-left: 35px
            padding-right: 35px
            padding-bottom: 6px
            font-size: 15px
            line-height: 16px