.question
    margin-bottom: 30px

    @media (max-width: $screenS)
        margin-bottom: 25px

    @media (max-width: $screenMob)
        margin-bottom: 12px

    &.expanded 

        .question 

            &__body 
                max-height: 2000px

    &__trigger 
        cursor: pointer

        @media (max-width: $screenMob)
            line-height: 14px

        &:after 
            content: ""
            display: inline-block
            vertical-align: middle
            margin-left: 18px
            margin-top: 10px
            width: 0
            height: 0
            border-style: solid
            border-width: 9px 9px 0 9px
            border-color: $yellow $transparent $transparent $transparent
            transition: transform 0.3s ease

            @media (max-width: $screenXL)
                margin-top: 6px

            @media (max-width: $screenL)
                margin-top: 0
                margin-left: 2px

            @media (max-width: $screenMob)
                margin-left: 1px
                margin-top: 0
                border-width: 4.5px 4.5px 0 4.5px

            .expanded & 
                transform: scale(1,-1)

        &:hover 

            p 
                text-decoration: underline

        p 
            display: inline
            vertical-align: top
            margin: 0
            text-transform: uppercase
            font-weight: 900
            font-size: 24px
            line-height: 38px
            color: $yellow

            @media (max-width: $screenXL)
                font-size: 20px
                line-height: 30px

            @media (max-width: $screenL)
                font-size: 20px
                line-height: 26px

            @media (max-width: $screenM)
                font-size: 20px

            @media (max-width: $screenS)
                font-size: 24px
                line-height: 28px

            @media (max-width: $screenMob)
                font-size: 12px
                line-height: 14px

    &__body 
        padding-left: 34px
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease

        @media (max-width: $screenL)
            padding-left: 0

        @media (max-width: $screenM)
            padding-left: 30px

        @media (max-width: $screenS)
            padding-left: 34px

        @media (max-width: $screenMob)
            padding-left: 17px

        p 
            margin: 0
            font-family: $font-alt 
            font-size: 20px
            line-height: 28px

            @media (max-width: $screenL)
                font-size: 18px
                line-height: 24px

            @media (max-width: $screenM)
                font-size: 16px
                line-height: 22px

            @media (max-width: $screenS)
                font-size: 24px
                line-height: 28px

            @media (max-width: $screenMob)
                font-size: 12px
                line-height: 14px

    &__inner 
        position: relative
        padding-left: 30px
        padding-top: 13px
        padding-bottom: 3px

        @media (max-width: $screenMob)
            padding-left: 15px
            padding-top: 6px
            padding-bottom: 2px

        &:before 
            content: ""
            position: absolute
            left: 0
            top: 18px
            bottom: 11px
            width: 8px
            background-color: $yellow

            @media (max-width: $screenMob)
                top: 9px
                bottom: 6px
                width: 4px