.register-form
    padding-right: 23px

    @media (max-width: $screenXL)
        padding-right: 0

    @media (max-width: $screenS)
        padding-right: 45px

    @media (max-width: $screenMob)
        margin-left: auto
        margin-right: auto
        padding-right: 23px
        max-width: 320px

    &__title 
        position: relative
        margin: 0 0 36px 0
        text-transform: uppercase
        text-align: center
        font-weight: 900
        font-size: 32px
        line-height: 42px
        color: $yellow
        z-index: 1

        @media (max-width: $screenXL)
            margin-bottom: 20px
            font-size: 28px
            line-height: 34px

        @media (max-width: $screenM)
            margin-bottom: 42px
            font-size: 36px
            line-height: 46px

        @media (max-width: $screenS)
            margin-bottom: 30px
            font-size: 30px
            line-height: 36px

            .emph 
                display: block
                font-size: 42px
                line-height: 44px

        @media (max-width: $screenMob)
            margin-bottom: 15px
            font-size: 15px
            line-height: 18px

            .emph 
                font-size: 21px
                line-height: 22px

    &__footer 
        display: flex 
        flex-direction: column
        margin-top: 36px
        padding-left: 23px

        @media (max-width: $screenXL)
            margin-top: 15px

        @media (max-width: $screenL)
            padding-left: 0

        @media (max-width: $screenM)
            margin-top: 36px
            padding-left: 23px

        @media (max-width: $screenS)
            padding-left: 0
            padding-bottom: 50px

        @media (max-width: $screenMob)
            margin-top: 18px
            padding-bottom: 25px

    &__submit 
        align-self: center
        box-sizing: border-box
        margin-top: 25px
        padding: 15px
        min-width: 396px
        font-size: 24px
        line-height: 34px
        border-radius: 18px 

        @media (max-width: $screenXL)
            margin-top: 10px
            padding: 10px
            min-width: 100px
            border-radius: 14px

        @media (max-width: $screenM)
            padding-left: 30px
            padding-right: 30px
            font-size: 20px
            line-height: 38px
            letter-spacing: 1.5px

        @media (max-width: $screenMob)
            padding-left: 15px
            padding-right: 15px
            font-size: 10px
            line-height: 19px

    &__field-label

        @media (max-width: $screenM)
            font-size: 18px
            line-height: 22px

        @media (max-width: $screenMob)
            font-size: 9px
            line-height: 11px

    &__checkbox-label

        @media (max-width: $screenM)
            font-size: 20px
            line-height: 24px

        @media (max-width: $screenS)
            padding-left: 65px
            font-size: 30px
            line-height: 36px

            &:before 
                width: 42px 
                height: 42px
                border-radius: 8px

            &:after 
                top: -4px
                left: 9px
                width: 17px
                height: 31px

        @media (max-width: $screenMob)
            padding-left: 33px
            font-size: 15px
            line-height: 18px

            &:before 
                width: 21px
                height: 21px
                border-radius: 4px

            &:after 
                top: -2px
                left: 5px
                width: 9px
                height: 16px