.rules
    padding-left: 0
    padding-top: 5px

    @media (max-width: $screenL)
        display: flex

    @media (max-width: $screenM)
        flex-direction: column

    @media (max-width: $screenMob)
        padding-top: 3px

    &__list 
        @include list-reset 
        counter-reset: li 

        @media (max-width: $screenL)
            width: 50%

        @media (max-width: $screenM)
            width: 100%

    &__image 

        @media (max-width: $screenL)
            width: 50%

        @media (max-width: $screenM)
            margin-top: 34px

        @media (max-width: $screenS)
            display: none

        img 
            display: block
            margin: 0 auto 
            max-width: 60%
            height: auto

            @media (max-width: $screenXL)
                max-width: 40%

            @media (max-width: $screenL)
                width: 75%
                max-width: 100%

            @media (max-width: $screenM)
                max-width: 100%

.rules-step 
    position: relative
    margin-bottom: 21px
    padding-left: 46px

    &:last-child
        margin-bottom: 0

        .rules-step__item
            margin-bottom: 0

    @media (max-width: $screenS)
        margin-bottom: 28px
        padding-left: 80px

    @media (max-width: $screenMob)
        margin-bottom: 14px
        padding-left: 40px

    &:before 
        content: counter(li)
        counter-increment: li
        position: absolute
        top: 0
        left: 0
        font-weight: 900
        font-size: 48px
        line-height: 48px
        color: $yellow
        text-shadow: 3px 6px 0 $green

        @media (max-width: $screenXL)
            top: -1px
            font-size: 40px
            line-height: 40px

        @media (max-width: $screenS)
            left: 10px
            font-size: 72px
            line-height: 70px

        @media (max-width: $screenMob)
            left: 5px
            font-size: 36px
            line-height: 35px

    &__slogan
        margin: 0
        text-transform: uppercase
        font-weight: 900
        font-size: 27px
        line-height: 28px
        color: $yellow

        @media (max-width: $screenXL)
            font-size: 24px
            line-height: 25px

        @media (max-width: $screenL)
            margin-bottom: 4px
            font-size: 27px
            line-height: 28px

        @media (max-width: $screenM)
            margin-bottom: 8px
            font-size: 27px
            line-height: 28px

        @media (max-width: $screenS)
            display: inline
            margin-bottom: 0
            font-size: 36px
            line-height: 38px

        @media (max-width: $screenMob)
            font-size: 18px
            line-height: 19px

        &._desktop 

            @media (max-width: $screenL)
                display: none

    &__descr 
        margin: 0
        text-transform: uppercase
        font-family: $font-alt 
        font-size: 16.21px
        line-height: 20px

        &._desktop 

            @media (max-width: $screenL)
                display: none

        @media (max-width: $screenXL)
            font-size: 14px
            line-height: 18px

        @media (max-width: $screenL)
            font-size: 16.21px
            line-height: 17px

        @media (max-width: $screenM)
            margin-bottom: 8px
            font-size: 16px
            line-height: 20px

        @media (max-width: $screenS)
            display: inline
            margin-bottom: 0
            font-size: 28px
            line-height: 30px

        @media (max-width: $screenMob)
            font-size: 14px
            line-height: 15px

    &__btn 
        display: none
        padding: 12px 30px
        font-size: 20px
        border-radius: 15px

        @media (max-width: $screenL)
            display: inline-block
            vertical-align: top
            margin-bottom: 10px

        @media (max-width: $screenS)
            padding: 15px 38px
            font-size: 28px
            line-height: 42px

        @media (max-width: $screenMob)
            padding: 7px 19px 
            font-size: 14px
            line-height: 21px
            border-radius: 8px

    &__item 

        @media (max-width: $screenL)
            margin-bottom: 8px

        @media (max-width: $screenS)
            margin-bottom: 16px

        @media (max-width: $screenMob)
            margin-bottom: 8px
            line-height: 17px
