.scroll-link
    position: absolute
    left: 50%
    bottom: 62px
    margin-left: -22px
    padding: 0
    width: 84px
    height: 84px
    font-size: 0
    border-radius: 50%
    z-index: 1

    @media (max-width: $screenXL)
        margin-left: -30px
        width: 60px
        height: 60px

    @media (max-width: $screenM)
        bottom: 30px

    @media (max-width: $screenMob)
        bottom: 15px
        margin-left: -11px
        width: 42px
        height: 42px

    img
        @include center 
        display: block

        @media (max-width: $screenXL)
            transform: scale(0.6, 0.6) translate(-50%, -50%)
            transform-origin: top left


    &._desktop 

        @media (max-width: $screenS)
            display: none