.search-form
    margin-bottom: 30px
    width: 820px

    @media (max-width: $screenL)
        margin-top: -82px
        margin-left: 450px
        width: 565px

    @media (max-width: $screenM)
        margin-top: 0
        margin-left: 0
        width: 100%

    @media (max-width: $screenS)
        margin-bottom: 44px

    @media (max-width: $screenMob)
        margin-bottom: 22px

    &__field-label 
        color: $yellow

        @media (max-width: $screenL)
            max-width: 130px
            font-size: 18px
            line-height: 21px

        @media (max-width: $screenM)
            max-width: 130px
            font-size: 18px
            line-height: 21px

        @media (max-width: $screenS)
            max-width: 165px
            font-size: 24px
            line-height: 30px

        @media (max-width: $screenMob)
            max-width: 82px
            font-size: 12px
            line-height: 15px

    &__field 
        flex-grow: 1
        text-align: left
        padding-right: 60px

        @media (max-width: $screenL)
            font-size: 18px
            line-height: 30px
            border-radius: 24px

        @media (max-width: $screenS)
            padding: 10px 60px 10px 24px
            min-width: 200px
            font-size: 28px
            line-height: 40px
            border-radius: 30px

        @media (max-width: $screenMob)
            padding: 5px 30px 5px 12px
            min-width: 100px
            font-size: 14px
            line-height: 20px
            border-radius: 15px

    &__btn 
        @include btn-reset
        position: absolute
        right: 23px
        top: 8px

        @media (max-width: $screenS)
            top: 16px

        @media (max-width: $screenMob)
            top: auto
            bottom: 8px
            right: 12px
            width: 15px
            height: 15px

        svg 
            display: block
            fill: #492514

            @media (max-width: $screenMob)
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%

    input[type="search"]
        box-sizing: border-box