.section
    display: flex 
    flex-direction: column
    box-sizing: border-box
    height: 100%
    padding-top: 142px
    background-image: url("../images/bg-intro.jpg")
    background-repeat: no-repeat 
    background-size: 100% auto

    @media (max-width: $screenXL) 
        padding-top: 130px

    @media (max-width: $screenL)
        padding-top: 100px

    @media (max-width: $screenM)
        padding-top: 135px
        background-image: url("../images/bg-section-mob.jpg");
        background-size: cover;

    @media (max-width: $screenMob)
        padding-top: 68px

    &__wrapper
        flex-grow: 1

    &--mobile 
        display: none

        @media (max-width: $screenS)
            display: flex 
            flex-direction: column