.social-buttons
    width: 100%
    display: flex
    justify-content: center

    @media (max-width: $screenL)
        width: auto

.social-button
    position: relative
    margin: 0 11px 11px 11px
    width: 64px
    height: 64px
    border-radius: 18px
    transition: transform 0.3s ease, box-shadow 0.3s ease

    @media (max-width: $screenL)
        margin: 0 10px 10px
        width: 48px
        height: 48px
        border-radius: 16px

    &:hover,
    &:focus 
        transform: translate(-6px, 6px)
        box-shadow: 0 0 0 #a38d0b

        @media (max-width: $screenMob)
            transform: translate(-3px, 3px)

    svg 
        @include center
        display: block
        fill: #fff

        @media (max-width: $screenL)
            transform: translate(-50%, -50%) scale(0.6, 0.6)

    &--vk
        background-color: #4c75a3
        box-shadow: -6px 6px 0 #344e6b

        &:hover,
        &:focus
            box-shadow: 0 0 0 #344e6b

    &--fb
        background-color: #3b5999
        box-shadow: -6px 6px 0 #253555

        &:hover,
        &:focus
            box-shadow: 0 0 0 #253555

    &--ok
        background-color: #f1832b
        box-shadow: -6px 6px 0 #9f5518

        &:hover,
        &:focus
            box-shadow: 0 0 0 #9f5518