.social 
    margin-left: 54px

    @media (max-width: $screenL)
        margin-left: 20px

.social-btn
    position: relative
    display: block
    width: 36px
    height: 36px
    background-color: #ccc
    border-radius: 50%
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), -3px 3px 0 0 rgba(0, 0, 0, 0.3)
    transition: transform 0.3s ease, box-shadow 0.3s ease

    &:hover,
    &:focus 
        transform: translate(-3px, 3px)
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0 0 0 0 rgba(0, 0, 0, 0.3)

    &--vk 
        background-color: #4f76a1

    svg 
        @include center 
        display: block
        fill: #fff
