.sorting-link
    position: relative

    &:after 
        content: ""
        position: absolute
        top: 15px
        right: 0
        width: 0
        height: 0
        border-style: solid
        border-width: 9px 9px 0 9px
        border-color: $yellow $transparent $transparent $transparent
        transition: transform 0.3s ease

        @media (max-width: $screenL)
            top: 12px

        @media (max-width: $screenS)
            display: none

    &.reverse

        &:after
            transform: scale(1,-1)