.special-products
    position: relative
    max-height: 68px
    z-index: 2

    &__inner 
        box-sizing: border-box
        width: 455px
        background-color: #653725
        box-shadow: -6px 6px 0 #281309, inset -1px 3px 0 rgba(107,73,58,.35)
        border-radius: 21px
        transition: background-color 0.3s ease, box-shadow 0.3s ease

        @media (max-width: $screenL)
            width: 510px

    &__list
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease

        ul 
            @include list-reset
            display: flex
            flex-direction: column
            align-items: center
            padding: 36px 30px
            padding-bottom: 48px
            text-align: center

    &__trigger 
        text-transform: uppercase
        font-weight: 900
        font-size: 18px
        line-height: 44px
        color: $yellow

        @media (max-width: $screenL)
            font-size: 20px

        p 
            position: relative
            display: inline-block
            vertical-align: top
            margin: 0
            padding: 14px 29px 10px 27px

            @media (max-width: $screenL)
                padding-right: 45px

            &:after 
                content: ""
                position: absolute
                right: 0
                top: 50%
                margin-top: -3px
                width: 0
                height: 0
                border-style: solid
                border-width: 9px 9px 0 9px
                border-color: #a26c53 transparent transparent transparent
                transition: transform 0.3s ease

                .expanded & 
                    transform: scale(1,-1)

    &.expanded 

        .special-products__inner
            background-color: #331b0f
            box-shadow: -6px 6px 0 #281309, inset -1px 3px 0 rgba(107,73,58,.35)

        .special-products__list
            height: calc(100vh - 240px)
            max-height: calc(100vh - 240px)

.special-product
    margin-bottom: 34px

    &:last-child
        margin-bottom: 0

    &__img 
        margin-bottom: 7px
        line-height: 0

        img 
           max-width: 90%
           height: auto

    &__title 
        margin: 0
        text-transform: uppercase
        font-family: $font-alt
        font-size: 20px
        line-height: 30px
        color: #c79b86