.steps
    margin-left: 0
    padding: 0
    list-style: none
    counter-reset: li
    display: flex
    justify-content: space-between
    max-width: 815px
    text-align: center

    @media (max-width: $screenXL)
        max-width: 46%

    @media (max-width: $screenL)
        max-width: 545px

    @media (max-width: $screenM)
        flex-direction: column
        align-items: flex-start 
        justify-content: flex-start
        text-align: left

.step 
    position: relative

    @media (max-width: $screenM)
        margin-bottom: 32px
        padding-left: 66px

    @media (max-width: $screenS)
        padding-left: 120px
        margin-bottom: 32px

    @media (max-width: $screenMob)
        padding-left: 60px
        margin-bottom: 16px

    &:before 
        content: counter(li)
        counter-increment: li
        font-weight: 900
        font-size: 88px
        line-height: 88px
        color: $yellow
        text-shadow: 3px 6px 0 #155f17

        @media (max-width: $screenXL)
            font-size: 60px
            line-height: 60px

        @media (max-width: $screenL)
            font-size: 72px
            line-height: 70px

        @media (max-width: $screenM)
            position: absolute
            top: 0
            left: 0
            font-size: 72px
            line-height: 70px

        @media (max-width: $screenM)
            top: -3px
            font-size: 88px
            line-height: 88px

        @media (max-width: $screenMob)
            top: -2px
            font-size: 44px
            line-height: 44px
            text-shadow: 1.5px 3px 0 #155f17

    &__slogan 
        margin: 10px 0 5px 0
        text-transform: uppercase
        font-weight: 900
        font-size: 32.43px
        line-height: 34px
        color: $yellow

        @media (max-width: $screenXL)
            font-size: 24px
            line-height: 26px

        @media (max-width: $screenL)
            font-size: 28px

        @media (max-width: $screenM)
            margin: 0
            font-size: 32px
            line-height: 40px

        @media (max-width: $screenS)
            margin: 0
            font-size: 42px
            line-height: 50px

        @media (max-width: $screenMob)
            font-size: 21px
            line-height: 25px

    &__descr 
        margin: 0
        font-family: $font-alt
        font-size: 16.21px
        line-height: 20px
        color: #fff

        @media (max-width: $screenXL)
            font-size: 14px
            line-height: 18px

        @media (max-width: $screenL)
            font-size: 16px

        @media (max-width: $screenS)
            margin: 0
            text-transform: uppercase
            font-size: 15px
            line-height: 25px

        @media (max-width: $screenM)
            font-size: 30px
            line-height: 42px

        @media (max-width: $screenMob)
            font-size: 15px
            line-height: 21px

        a 
            @include hover
            color: #fff

    &__btn 
        display: none
        margin-top: 12px
        margin-bottom: 10px

        @media (max-width: $screenM)
            display: block

        @media (max-width: $screenMob)
            margin-top: 6px
            margin-bottom: 5px