.submenu
    position: absolute
    top: calc(100% + 6px)
    left: -31px
    @include list-reset
    padding-left: 17px
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease

    @media (max-width: $screenMob)
        left: -15px
        padding-left: 9px

    &.show 
        opacity: 1
        pointer-events: initial

    &:before 
        content: ""
        position: absolute
        top: 0
        bottom: 0
        left: 21px
        width: calc(100% - 7px)
        background-color: $yellow 
        transform: skew(-17deg)
        transform-origin: top left
        border-radius: 15px 0

        @media (max-width: $screenMob)
            left: 10px
            width: calc(100% - 4px)
            border-radius: 7px 0

    &__item 
        position: relative
        border-bottom: 2px solid #b8a41e
        transition: border-color 0.3s ease

        @media (max-width: $screenMob)
            border-width: 1px

        &:hover 
            border-color: $transparent

        &:first-child

            .submenu__link

                &:hover 

                    &:before 
                        top: 0
                        border-radius: 15px 0 10px 0

                        @media (max-width: $screenMob)
                            left: -2px
                            right: -3px
                            border-radius: 7px 0 5px 0

        &:last-child
            border-bottom: none

            .submenu__link

                &:hover 

                    &:before 
                        bottom: 0
                        right: -8px
                        border-radius: 10px 0 15px 0

                        @media (max-width: $screenMob)
                            right: -4px
                            border-radius: 5px 0 7px 0

        &:before 
            content: ""
            position: absolute

        &.active 

            .submenu__link
                color: $red

        &--mobile 
            position: absolute
            opacity: 0
            pointer-events: none 
            z-index: -100

    &__link
        display: block
        padding: 0 26px
        padding-right: 51px
        padding-top: 5px
        text-transform: uppercase
        font-size: 18px
        line-height: 36px
        color: #47271b
        white-space: nowrap

        @media (max-width: $screenMob)
            padding: 0 13px
            padding-right: 25px
            padding-top: 2px
            font-size: 9px
            line-height: 18px

        span 
            position: relative

        &:hover 
            position: relative

            &:before 
                content: ""
                position: absolute
                top: -2px
                bottom: -2px
                left: -2px
                right: -7px
                background-color: #d7c729
                border-radius: 10px 0
                box-shadow: inset 0 0 16px rgba(70,37,22,.3)
                transform: skew(-17deg)

                @media (max-width: $screenMob)
                    top: -1px
                    bottom: -1px
                    left: -1px
                    right: -4px
                    border-radius: 5px 0
                    box-shadow: inset 0 0 8px rgba(70, 37,22,0.3)
