.table
    width: 100%

    &._desktop 
    
        @media (max-width: $screenS)
            display: none

    th 
        padding-right: 50px
        padding-bottom: 20px
        width: 25%

        @media (max-width: $screenS)
            box-sizing: border-box
            padding-right: 20px
            padding-bottom: 12px

        @media (max-width: $screenMob)
            padding-right: 10px
            padding-bottom: 6px

        &:last-child 
            padding-right: 0

            @media (max-width: $screenS)
                padding-right: 20px
                padding-bottom: 0

            @media (max-width: $screenMob)
                padding-right: 10px

    td 

        @media (max-width: $screenS)
            padding-bottom: 12px

        @media (max-width: $screenMob)
            padding-bottom: 6px

        &:first-child 
            padding-left: 23px

            @media (max-width: $screenS)
                padding-left: 0

        &:last-child

            @media (max-width: $screenS)
                padding-bottom: 0

    &__header

        @media (max-width: $screenS)
            display: flex 
            flex-direction: column

    &__headline 
        margin: 0
        text-align: left
        font-weight: 900
        text-transform: uppercase
        font-size: 18px
        line-height: 38px
        color: $yellow
        border-bottom: 2px solid $yellow

        @media (max-width: $screenL)
            font-size: 18px
            line-height: 30px

        @media (max-width: $screenM)
            font-size: 16px
            line-height: 30px

        @media (max-width: $screenS)
            font-family: $font-alt
            text-transform: capitalize
            font-weight: 400
            font-size: 32px
            line-height: 38px
            border-bottom: none

        @media (max-width: $screenMob)
            font-size: 16px
            line-height: 19px
            border-width: 1px

    &__content 
        margin: 0
        padding: 11px 0
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px
        transition: color 0.3s ease

        a
            @include hover
            color: $yellow

            span
                border-bottom: 1px solid $yellow

        @media (max-width: $screenL)    
            font-size: 16px
            line-height: 22px

        @media (max-width: $screenS)
            padding: 0
            font-size: 32px
            line-height: 38px

            @media (max-width: $screenMob)
                font-size: 16px
                line-height: 19px

    &__row 
        transition: background-color 0.3s ease

        &:nth-child(even)
            background-color: rgba(35, 14, 5, 0.3)

            @media (max-width: $screenS)
                background-color: $transparent

        &:hover 
            //background-color: $yellow 

            @media (max-width: $screenS)
                background-color: $transparent

            p 
                color: $green

                @media (max-width: $screenS)
                    color: #fff

        @media (max-width: $screenL)
            display: none

            &._desktop
                display: table-row

                @media (max-width: $screenS)
                    display: none

                    &.active 
                        display: flex

        @media (max-width: $screenS)
            display: none
            flex-direction: column

        &.active 

            @media (max-width: $screenS)
                display: flex 
                flex-grow: 1

    tbody

        @media (max-width: $screenS)
            display: flex