.tabs
    position: relative
    flex-grow: 1
    flex-shrink: 2
    @include list-reset
    margin-top: -72px
    border-radius: 25px
    background-color: #482415
    background-image: radial-gradient(ellipse at center, rgba(163,81,30,1) 0%, rgba(0,128,128,0) 50%, rgba(0,128,128,0) 100%);
    background-repeat: no-repeat
    background-size: 320% 135%
    background-position: left top
    box-shadow: 0 15px 16px 5px rgba(0,0,0,.35)
    z-index: 2

    max-height: calc(100vh - 412px)

    @media (max-width: $screenXL)
        max-height: calc(100vh - 350px)

    @media (max-width: $screenL)
        max-height: calc(100vh - 310px)

    ._nofullpage &
        min-height: 590px
        max-height: 100000px

        @media (max-width: $screenXL)
            min-height: 400px

        @media (max-width: $screenS)
            min-height: 100px

.tab
    position: absolute
    display: flex
    width: 100%
    opacity: 0
    pointer-events: none
    height: 0
    overflow: hidden

    &.active
        position: relative
        height: auto
        opacity: 1
        pointer-events: initial

    &__col 
        position: relative
        box-sizing: border-box
        padding: 52px
        width: 50%

        @media (max-width: $screenXL)
            padding-top: 25px
            padding-bottom: 25px

        @media (max-width: $screenL)
            padding: 24px 32px

        @media (max-width: $screenM)
            margin: 0 auto
            padding-top: 40px

        @media (max-width: $screenS)
            padding-top: 34px
            padding-left: 0
            padding-right: 0

        @media (max-width: $screenMob)
            padding-top: 17px
            padding-bottom: 12px

        &:before 
            content: ""
            position: absolute
            top: 36px
            bottom: 30px
            left: -1px
            width: 2px
            background-image: linear-gradient(to bottom, #c69b88 0%, #c69b88 16px, $transparent 16px, $transparent 100%)
            background-size: 2px 25px
            background-repeat: repeat-y
            opacity: 0.2

            @media (max-width: $screenL)
                display: none

        &:first-child 

            &:before 
                display: none