.tab-controls
    @include list-reset
    display: flex
    flex: none

    .js-tabs-rtl &
        flex-direction: row-reverse
        justify-content: flex-end

.tab-controls-wrapper 

    @media (max-width: $screenS)
        position: relative

    &.opened 

        .tab-controls
            max-height: 100000px

.tab-controls-trigger
    display: none

    &__label 
        margin: 0
        margin-right: 15px
        width: 212px
        text-align: right
        text-transform: uppercase
        font-weight: 900
        font-size: 24px
        line-height: 30px       
        color: $yellow

        @media (max-width: $screenMob)
            margin-right: 8px
            width: 106px
            font-size: 12px
            line-height: 15px

    &__btn 
        position: relative
        flex-grow: 1
        display: flex 
        align-items: center
        padding: 13px 0
        padding-left: 30px
        padding-right: 70px
        background-color: #fff
        border-radius: 21px 
        cursor: pointer

        @media (max-width: $screenMob)
            padding: 7px 0
            padding-left: 15px
            padding-right: 35px
            border-radius: 10px

        .opened &
            border-radius: 21px 21px 0 0

            @media (max-width: $screenMob)
                border-radius: 10px 10px 0 0

        &:after
            content: ""
            position: absolute
            right: 28px
            top: 50%
            margin-top: -5px
            width: 0
            height: 0
            border-style: solid
            border-width: 16px 16px 0 16px
            border-color: #492514 $transparent $transparent $transparent
            transition: transform 0.3s ease

            @media (max-width: $screenMob)
                right: 14px
                margin-right: -2px
                border-width: 8px 8px 0 8px

            .opened & 
                transform: scale(1,-1)
                margin-top: -9px

                @media (max-width: $screenMob)
                    margin-top: -5px

        img 
            display: block
            height: 46px
            width: auto

            @media (max-width: $screenMob)
                height: 23px

    @media (max-width: $screenS)
        display: flex
        align-items: center

.tab-control
    flex-shrink: 0
    flex-grow: 1
    display: flex
    justify-content: center
    padding-top: 20px
    padding-bottom: 75px
    width: 16.666667%
    margin-left: -4px
    border-radius: 25px
    background-color: #2b1403
    box-shadow: 0 5px 16px 5px rgba(0,0,0,.35)
    transition: box-shadow 0.3s ease, background-color 0.3s ease
    cursor: pointer

    &:first-child
        margin-left: 0

        .js-tabs-rtl &
            margin-left: -4px

            @media (max-width: $screenS)
                margin-left: 0

    &:last-child 

        .js-tabs-rtl &
            margin-left: 0

    &.active 
        position: relative
        margin-top: -8px
        color: $yellow
        background-color: #482415
        box-shadow: 0 5px 16px 5px rgba(0,0,0,.35)
        z-index: 1

    &:hover
        background-color: #472514

    &__text 
        margin: 0
        text-transform: uppercase
        text-align: center
        font-weight: 900
        font-size: 27px
        line-height: 37px

        @media (max-width: $screenM)
            padding: 0 15px
            font-size: 22px

        @media (max-width: $screenMob)
            font-size: 12px
            line-height: 16px

    &__image
        max-width: 75%
        min-height: 50px

        @media (max-width: $screenS)
            min-height: 20px

        @media (max-width: $screenMob)
            min-height: 10px

        img 
            display: block
            max-width: 100%
            height: auto

            @media (max-width: $screenMob)
                transform: scale(0.7,0.7)