.user-nav
    display: flex
    margin-left: auto
    margin-right: -7px

    @media (max-width: $screenS)
        order: 1
        flex: none
        margin: 0
        margin-bottom: 18px
        padding-top: 20px

    ul 
        @include list-reset 
        @include row-component 
        justify-content: flex-end

    &__link 
        @include hover
        padding-top: 2px
        text-transform: uppercase
        font-size: 18px
        line-height: 34px
        color: $yellow
        white-space: nowrap

        &._logout 
            color: #c89c87

        &._login 
            @include row-component

            span
                @media (max-width: $screenL)
                    font-size: 0

                @media (max-width: $screenM)
                    font-size: 30px

                @media (max-width: $screenMob)
                    font-size: 15px

        .icon
            display: block
            margin-right: 9px
            margin-top: -2px
            stroke: $yellow

            @media (max-width: $screenM)
                stroke: #fff
                width: 36px
                height: 36px

            @media (max-width: $screenMob)
                width: 18px
                height: 18px

        @media (max-width: $screenL)
            font-size: 18px

            ._desktop 
                display: none

                @media (max-width: $screenM)
                    display: inline

        // @media (max-width: $screenM)
        //     display: none

        //     .user-nav--mobile &
        //         display: block

        @media (max-width: $screenM)
            font-size: 30px
            line-height: 66px
            color: #fff

        @media (max-width: $screenMob)
            font-size: 15px
            line-height: 33px

    &__item 
        position: relative
        padding-left: 10px
        padding-right: 5px

        @media (max-width: $screenM)
            display: none
            padding-left: 12px
            padding-right: 10px

        &:before
            content: ""
            @include centerV
            left: 0
            width: 1px
            height: 19px
            background-color: #c89c87

            @media (max-width: $screenM)
                width: 2px

        &:first-child

            &:before 
                display: none

    &__social 

        @media (max-width: $screenS)
            display: none

    &--mobile 
        display: none

        @media (max-width: $screenM)
            display: block
            margin-left: auto
            margin-right: auto
            padding-top: 50px

            .user-nav__item 
                display: block

        @media (max-width: $screenMob)
            margin-bottom: 9px
            padding-top: 25px