.winners 
    position: relative
    padding-top: 100px
    padding-bottom: 0
    background-image: url("../images/ronaldo-2.png"), url("../images/corner.png"), url("../images/bg-intro.jpg")
    background-size: 40% auto, 38.8% auto, 100% auto
    background-position: bottom -100px right, top right, top center

    @media (max-width: $screenXL)
        padding-top: 90px
        padding-bottom: 0

    @media (max-width: $screenM)
        background-image: url("../images/bg-intro-mob.jpg")
        background-size: cover
        background-position: top left

    @media (max-width: $screenMob)
        padding-top: 45px

    &__wrapper 
        left: -10px

        @media (max-width: $screenL)
            left: 0

    .mCustomScrollBox
        
        @media (max-width: $screenS)
            display: flex 
            flex-direction: column 
            justify-content: center

    &__title 
        margin: 0 0 40px 0
        padding-top: 70px
        font-weight: 900
        text-transform: uppercase
        font-size: 48px
        line-height: 50px

        @media (max-width: $screenXL)
            padding-top: 40px
            font-size: 36px
            line-height: 40px

        @media (max-width: $screenM)
            margin-bottom: 30px
            text-align: center

        @media (max-width: $screenMob)
            margin-bottom: 15px
            font-size: 18px
            line-height: 20px

    &__note 
        margin: 0
        padding-bottom: 34px
        max-width: 1100px
        font-family: $font-add
        font-size: 18px
        line-height: 20px

        a
            @include hover 
            color: #fff

        @media (max-width: $screenL)
            font-size: 16px
            line-height: 18px

        @media (max-width: $screenM)
            display: none

    &.scrollable .mCSB_scrollTools

        @media (max-width: $screenL)
            margin-right: 0
            opacity: 0

.winners-table-block
    margin-bottom: 50px
    width: 1022px

    @media (max-width: $screenL)
        margin-bottom: 20px
        width: 100%
        max-width: 1022px

    @media (max-width: $screenMob)
        margin-bottom: 25px

.winners-table-wrapper
    padding: 26px 54px 40px 57px
    border-radius: 25px
    background-color: #482415
    box-shadow: 0 5px 16px 5px rgba(0,0,0,.35)

    @media (max-width: $screenL)
        box-sizing: border-box
        padding: 30px 40px 40px
        width: 848px

    @media (max-width: $screenM)
        padding: 24px 38px 30px
        width: 100%

    @media (max-width: $screenS)
        padding: 30px 50px 54px 50px

    @media (max-width: $screenMob)
        padding: 15px 25px 27px 25px
        border-radius: 13px

.winners-table-head
    display: none
    margin-bottom: 45px
    text-transform: uppercase
    font-weight: 900
    text-align: center
    font-size: 30px
    line-height: 66px
    color: $yellow
    border-bottom: 4px solid $yellow

    @media (max-width: $screenS)
        display: block

    @media (max-width: $screenMob)
        margin-bottom: 22px
        font-size: 15px
        line-height: 33px
        border-width: 2px

.winners-table 
    width: 100%

    th 
        padding-right: 50px
        padding-bottom: 20px
        width: 27.44%

        @media (max-width: $screenS)
            box-sizing: border-box
            padding-right: 20px
            padding-bottom: 12px
            width: 144px

        @media (max-width: $screenMob)
            padding-right: 10px
            padding-bottom: 6px
            width: 72px

        &:last-child 
            padding-right: 0
            width: 17.68%

            @media (max-width: $screenS)
                padding-right: 20px
                padding-bottom: 0
                width: 144px

            @media (max-width: $screenMob)
                padding-right: 10px
                width: 72px

    td 

        @media (max-width: $screenS)
            padding-bottom: 12px

        @media (max-width: $screenMob)
            padding-bottom: 6px

        &:first-child 
            padding-left: 23px

            @media (max-width: $screenS)
                padding-left: 0

        &:last-child

            @media (max-width: $screenS)
                padding-bottom: 0

    &__header

        @media (max-width: $screenS)
            display: flex 
            flex-direction: column

    &__headline 
        margin: 0
        text-align: left
        font-weight: 900
        text-transform: uppercase
        font-size: 18px
        line-height: 38px
        color: $yellow
        border-bottom: 2px solid $yellow

        @media (max-width: $screenL)
            font-size: 18px
            line-height: 30px

        @media (max-width: $screenM)
            font-size: 16px
            line-height: 30px

        @media (max-width: $screenS)
            font-family: $font-alt
            text-transform: capitalize
            font-weight: 400
            font-size: 32px
            line-height: 38px
            border-bottom: none

        @media (max-width: $screenMob)
            font-size: 16px
            line-height: 19px
            border-width: 1px

    &__content 
        margin: 0
        padding: 11px 0
        font-family: $font-alt 
        font-size: 20px
        line-height: 24px
        transition: color 0.3s ease

        @media (max-width: $screenL)    
            font-size: 16px
            line-height: 22px

        @media (max-width: $screenS)
            padding: 0
            font-size: 32px
            line-height: 38px

            @media (max-width: $screenMob)
                font-size: 16px
                line-height: 19px

    &__row 
        transition: background-color 0.3s ease

        &:nth-child(even)
            background-color: rgba(35, 14, 5, 0.3)

            @media (max-width: $screenS)
                background-color: $transparent

        &:hover 
            background-color: $yellow 

            @media (max-width: $screenS)
                background-color: $transparent

            p 
                color: $green

                @media (max-width: $screenS)
                    color: #fff

        @media (max-width: $screenL)
            display: none

            &._desktop
                display: table-row

                @media (max-width: $screenS)
                    display: none

                    &.active 
                        display: flex

        @media (max-width: $screenS)
            display: none
            flex-direction: column

        &.active 

            @media (max-width: $screenS)
                display: flex 
                flex-grow: 1

    tbody

        @media (max-width: $screenS)
            display: flex