@import normalize
@import fonts.scss
@import animation.sass
@import grid.sass


// ----------------------------------------------------------------------
    // General styles
// ----------------------------------------------------------------------

html
    width: 100%

html *
    max-height: 1000000px

body
    margin: 0
    width: 100%
    min-width: 1920px
    font-family: $font
    font-weight: 400
    font-size: 16px
    line-height: 28.55px
    color: #fff
    background-color: #3e1909

    @media (max-width: $screenXL)
        min-width: 1400px

    @media (max-width: $screenL)
        min-width: 1000px

    @media (max-width: $screenM)
        min-width: 768px

    @media (max-width: $screenM) and (orientation: landscape)

        &:after 
            content: ""
            position: fixed
            top: 0
            bottom: 0
            left: 0
            right: 0
            z-index: 10000
            background-color: #fff 
            background-image: url("../images/rotate.png")
            background-repeat: no-repeat 
            background-size: 50% auto
            background-position: center

        &._nofullpage

            &:after 
                display: none

    @media (max-width: $screenS)
        min-width: 320px


    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

    &.overflow 
        height: 100vh
        overflow: hidden

.global-wrapper
    position: relative
    margin: 0 auto
    min-height: 100vh

.layout-positioner
    position: relative
    left: -20px
    box-sizing: border-box
    margin: 0 auto
    padding: 0 20px
    width: 1426px

    @media (max-width: $screenXL)
        padding: 0 40px
        width: 100%
        max-width: 1426px

    @media (max-width: $screenL)
        left: 0
        padding: 0 53px

    @media (max-width: $screenM)
        padding: 0 40px

    @media (max-width: $screenMob)
        padding: 0 20px

.hidden
    display: none !important

.invisible
    position: absolute
    z-index: -100
    visibility: hidden

.svg-wrapper 
    position: absolute
    opacity: 0
    z-index: -100

.visually-hidden
    position: absolute !important
    clip: rect(1px 1px 1px 1px)
    clip: rect(1px, 1px, 1px, 1px)
    padding:0 !important
    border:0 !important
    height: 1px !important 
    width: 1px !important 
    overflow: hidden

.scrollable 

    .mCSB_inside > .mCSB_container
        margin-right: 0

    .mCSB_scrollTools
        top: 20px
        bottom: 20px
        width: 15px
        margin-right: 20px
        opacity: 1

        @media (max-width: $screenMob)
            top: 10px
            bottom: 10px
            width: 8px
            margin-right: 10px

    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
        width: 15px
        background-color: #653726
        border-radius: 8px

        @media (max-width: $screenMob)
            width: 8px
            border-radius: 4px

    .mCSB_scrollTools .mCSB_draggerRail
        width: 15px
        background-color: #230f06
        border-radius: 8px

        @media (max-width: $screenMob)
            width: 8px
            border-radius: 4px
