.js-animate
    opacity: 0
    transition: opacity 0.4s ease

.appear
    animation-name: appear
    animation-duration: 0.5s
    animation-delay: 0.000001s

    animation-fill-mode: forwards


    &.scale 
        animation-name: appear, scale
        animation-duration: 0.5s, 0.5s
        animation-delay: 0.000001s

        animation-fill-mode: forwards

    &.from-right
        animation-name: appear, from-right
        animation-duration: 0.5s, 0.5s
        animation-delay: 0.000001s

        animation-fill-mode: forwards

    &.from-left
        animation-name: appear, from-left
        animation-duration: 0.5s, 0.5s
        animation-delay: 0.000001s

        animation-fill-mode: forwards

    &.from-top
        animation-name: appear, from-top
        animation-duration: 0.5s, 0.5s
        animation-delay: 0.000001s

        animation-fill-mode: forwards

    &.from-bottom
        animation-name: appear, from-bottom
        animation-duration: 0.5s, 0.5s
        animation-delay: 0.000001s

        animation-fill-mode: forwards

        animation-timing-function: cubic-bezier(.08,.03,.22,.87)


@keyframes scale 
    0% 
        transform: scale(0)

    100% 
        transform: scale(1)

@keyframes appear
    0%
        opacity: 0

    100%
        opacity: 1

@keyframes from-left
    0%
        transform: translateX(-20px)

    100%
        transform: translateX(0)

@keyframes from-right
    0%
        transform: translateX(20px)

    100%
        transform: translateX(0)

@keyframes from-top
    0%
        transform: translateY(-20px)

    100%
        transform: translateY(0)

@keyframes from-bottom
    0%
        transform: translateY(20px)

    100%
        transform: translateY(0)

@keyframes shake
    0%
        transform: translateX(0)

    100%
        transform: translateX(10px)
