
@font-face {
  font-family: 'Hermes';
  src: url('../fonts/hermes.eot');
  src: url('../fonts/hermes.eot') format('embedded-opentype'),
         url('../fonts/hermes.woff2') format('woff2'),
         url('../fonts/hermes.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Hermes';
  src: url('../fonts/HermesFB-Black.eot');
  src: url('../fonts/HermesFB-Black.eot') format('embedded-opentype'),
         url('../fonts/HermesFB-Black.woff2') format('woff2'),
         url('../fonts/HermesFB-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HermesC';
  src: url('../fonts/HermesC.eot');
  src: url('../fonts/HermesC.eot') format('embedded-opentype'),
         url('../fonts/HermesC.woff2') format('woff2'),
         url('../fonts/HermesC.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HeliosC';
  src: url('../fonts/HeliosCond.eot');
  src: url('../fonts/HeliosCond.eot') format('embedded-opentype'),
         url('../fonts/HeliosCond.woff2') format('woff2'),
         url('../fonts/HeliosCond.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
