@mixin placeholder($content)
    &::-webkit-input-placeholder
        color: $content
    &:-moz-placeholder
        color: $content
    &::-moz-placeholder
        color: $content
    &:-ms-input-placeholder
        color: $content

=icon($icon, $width, $height)
    width: $width
    height: $height
    background: url('../img/svg/' + $icon + '.svg') 0 0 no-repeat
    background-size: $width $height

=selection
    ::selection
        @content
    ::-moz-selection
        @content

=vAlignAbs()
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

@mixin center 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin centerH 
    position: absolute
    left: 50%
    transform: translateX(-50%)

@mixin centerV 
    position: absolute
    top: 50%
    transform: translateY(-50%)

@mixin row-component 
    display: flex 
    align-items: center 

@mixin btn-reset 
    padding: 0
    background-color: $transparent 
    border: none 
    outline: none

    &:focus 
        outline: none

@mixin list-reset
    margin: 0
    padding: 0
    list-style: none

@mixin field-reset
    padding: 0
    background-color: $transparent
    border: none

    &:focus 
        outline: none

@mixin hover 
    transition: opacity 0.3s ease 

    &:hover 
        opacity: 0.7

@mixin numeric 
    font-variant-numeric: oldstyle-nums
    -moz-font-feature-settings: 'onum'
    -webkit-font-feature-settings: 'onum'
    font-feature-settings: 'onum' on

@mixin headline 
    margin: 0 0 56px 0
    text-align: center
    font-family: $font-alt 
    font-size: 38px
    line-height: 40px 
    color: $blue-l

    @media (max-width: 1365px)
            margin-bottom: 44px

    @media (max-width: 767px)
        margin-bottom: 20px
        font-size: 17.78px
        line-height: 20px

@mixin headline2 
    margin: 0 0 20px 0
    font-family: $font-alt
    font-size: 22px
    line-height: 30px
    color: $blue-l

    @media (max-width: 767px)
        margin-bottom: 13px
        font-size: 13.33px
        line-height: 18px

@mixin headline3 
    margin: 0
    font-family: $font-alt
    font-size: 18px
    line-height: 24px
    color: #545454

    @media (max-width: 767px)
        font-size: 11.85px
        line-height: 17.78px

@mixin text 
    margin: 0
    font-size: 16px
    line-height: 24px
    color: #545454

    @media (max-width: 767px)
        font-size: 11.85px
        line-height: 18px

@mixin content-link 
    color: $blue-l

    span 
        border-bottom: 1px dotted $blue-l
        transition: border-color 0.3s ease, color 0.3s ease

    &:hover 
        color: #35baf6

        span 
            border-bottom: 1px dotted $transparent 

@mixin list 
    margin: 0
    padding: 0
    list-style: none 

    li 
        position: relative
        margin-bottom: 10px
        padding-left: 10px
        font-size: 16px
        line-height: 24px
        color: #545454
        z-index: -1

        @media (max-width: 767px)
            margin-bottom: 9px
            font-size: 11.85px
            line-height: 18px

        &:before 
            content: ""
            position: absolute
            top: 10px
            left: 0
            width: 5px
            height: 5px
            background-color: #545454 
            border-radius: 50%

            @media (max-width: 767px)
                width: 4px
                height: 4px
                top: 8px

@mixin note 
    font-size: 13px
    line-height: 18px
    color: #979797

@mixin inner 
    padding-top: 154px

    @media (max-width: 1919px)
        padding-top: 124px

    @media (max-width: 1365px)
        padding-top: 105px

    @media (max-width: 767px)
        padding-top: 65px

@mixin inner-wrap 
    margin: 0 auto 
    width: 880px

    @media (max-width: 1365px)
        box-sizing: border-box
        padding: 0 19px
        width: 100%
        max-width: 768px

    @media (max-width: 767px)
        padding: 0 15px