// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXL: 1900px;
$screenL: 1440px;
$screenM: 1023px;
$screenS: 767px;
$screenMob: 639px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: #fff;
$yellow: #f3e532;
$red: #e12326;
$green: #155f17;
$brown: #492513;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'Hermes', Arial, sans-serif;
$font-alt: 'HermesC', Arial, sans-serif;
$font-add: 'HeliosC', Arial, sans-serif;
