<section class="section account">
    <div class="section__wrapper account__wrapper layout-positioner">
        <h1 class="account__title">личный кабинет</h1>
        <div class="account__tabs js-tabs-rtl">
            <div class="tab-controls-wrapper js-tab-controls-wrapper">
                <ul class="tab-controls">
                    <li class="tab-control active js-tab-control">
                        <p class="tab-control__text">доставка призов</p>
                    </li>
                    <li class="tab-control  js-tab-control">
                        <p class="tab-control__text">коды и призы</p>
                    </li>
                    <li class="tab-control js-tab-control">
                        <p class="tab-control__text">личные данные</p>
                    </li>
                </ul>
            </div>
            <ul class="tabs">
                <div class="tab js-tab account__tab">
                    <div class="personal">
                        <div class="personal__info">
                            <div class="personal__img">
                                <img src="assets/images/avatar.png" width="128" height="128" alt="">
                            </div>
                            <div class="personal__info-block">
                                <p class="personal__name">константинопольский константин</p>
                                <p class="personal__method">Авторизация через Facebook</p>
                            </div>
                        </div>
                        <div class="personal__form">
                            <form action="#" method="post" class="form personal-form">
                                <div class="form__field-wrapper">
                                    <label for="username" class="form__field-label">имя</label>
                                    <input type="text" class="form__field" id="username">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="surname" class="form__field-label">фамилия</label>
                                    <input type="text" class="form__field" id="surname">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="email" class="form__field-label">e-mail</label>
                                    <input type="email" class="form__field" id="email">
                                    <div class="error-message">Введите корректный электронный адрес</div>
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="birthday" class="form__field-label">ваш день рождения:</label>
                                    <div class="form__select-wrapper">
                                        <select name="day" id="birthday" class="custom-select _day">
                                            <option value="1" selected>30</option>
                                            <option value="2">31</option>
                                        </select>
                                        <select name="month" id="month" class="custom-select _month">
                                            <option value="1" selected>сентября</option>
                                            <option value="2">октября</option>
                                        </select>
                                        <select name="year" id="year" class="custom-select _year">
                                            <option value="1" selected>1987</option>
                                            <option value="2">1988</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="region" class="form__field-label">регион</label>
                                    <input type="text" class="form__field" id="region">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="city" class="form__field-label">город</label>
                                    <input type="text" class="form__field" id="city">
                                </div>
                                <div class="personal-form__footer">
                                    <button class="btn btn--yellow personal-form__btn">сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab js-tab account__tab">
                    <div class="codes">
                        <table class="table _desktop">
                            <tr class="table__header">
                                <th>
                                    <p class="table__headline">код</p>
                                </th>
                                <th>
                                    <p class="table__headline">дата</p>
                                </th>
                                <th>
                                    <p class="table__headline">приз</p>
                                </th>
                                <th>
                                    <p class="table__headline">статус</p>
                                </th>
                            </tr>
                            <tr class="table__row _desktop">
                                <td>
                                    <p class="table__content">SNK900021873</p>
                                </td>
                                <td>
                                    <p class="table__content">10/06/2018 в 11:40</p>
                                </td>
                                <td>
                                    <p class="table__content">Код не выиграл</p>
                                </td>
                                <td>
                                    <p class="table__content">— </p>
                                </td>
                            </tr>
                            <tr class="table__row _desktop">
                                <td>
                                    <p class="table__content">SNK045722944</p>
                                </td>
                                <td>
                                    <p class="table__content">5/07/2018 в 19:02</p>
                                </td>
                                <td>
                                    <p class="table__content">Спортивная сумка</p>
                                </td>
                                <td>
                                    <p class="table__content">Получен</p>
                                </td>
                            </tr>
                            <tr class="table__row _desktop">
                                <td>
                                    <p class="table__content">SNK000239842</p>
                                </td>
                                <td>
                                    <p class="table__content">12/07/2018 в 22:28</p>
                                </td>
                                <td>
                                    <p class="table__content">Смартфон</p>
                                </td>
                                <td>
                                    <p class="table__content"><a href="#"><span>Заполните адрес доставки</span></a></p>
                                </td>
                            </tr>
                        </table>
                        <div class="codes-table _mobile">
                            <div class="codes-table__item code-item">
                                <div class="code-item__header">
                                    <p>код 1</p>
                                </div>
                                <div class="code-item__body">
                                    <div class="code-item__row">
                                        <p class="code-item__label">Код</p>
                                        <p class="code-item__value">SNK900021873</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Дата</p>
                                        <p class="code-item__value">10/06/2018 в 11:40</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Приз</p>
                                        <p class="code-item__value">Спортивная сумка</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Статус</p>
                                        <p class="code-item__value">
                                            <a href="#"><span>Заполните адрес доставки</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="codes-table__item code-item">
                                <div class="code-item__header">
                                    <p>код 2</p>
                                </div>
                                <div class="code-item__body">
                                    <div class="code-item__row">
                                        <p class="code-item__label">Код</p>
                                        <p class="code-item__value">SNK045722944</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Дата</p>
                                        <p class="code-item__value">05/07/2018 в 19:02</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Приз</p>
                                        <p class="code-item__value">Код не выиграл</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Статус</p>
                                        <p class="code-item__value">—</p>
                                    </div>
                                </div>
                            </div>
                            <div class="codes-table__item code-item">
                                <div class="code-item__header">
                                    <p>код 3</p>
                                </div>
                                <div class="code-item__body">
                                    <div class="code-item__row">
                                        <p class="code-item__label">Код</p>
                                        <p class="code-item__value">SNK900021873 </p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Дата</p>
                                        <p class="code-item__value">12/07/2018 в 22:28</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Приз</p>
                                        <p class="code-item__value">Смартфон</p>
                                    </div>
                                    <div class="code-item__row">
                                        <p class="code-item__label">Статус</p>
                                        <p class="code-item__value">Получен</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab active js-tab account__tab">
                    <div class="delivery">
                        <form action="#" method="post" class="form delivery-form">
                            <div class="delivery-form__col">
                                <div class="form__field-wrapper">
                                    <label for="surname2" class="form__field-label">фамилия</label>
                                    <input type="text" class="form__field" id="surname2">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="username2" class="form__field-label">имя</label>
                                    <input type="text" class="form__field" id="username2">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="name2" class="form__field-label">Отчество</label>
                                    <input type="text" class="form__field" id="name2">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="zipcode" class="form__field-label">Индекс</label>
                                    <input type="text" class="form__field" id="zipcode">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="region2" class="form__field-label">Область</label>
                                    <input type="text" class="form__field" id="region2">
                                </div>
                            </div>
                            <div class="delivery-form__col">
                                <div class="form__field-wrapper">
                                    <label for="city2" class="form__field-label">город</label>
                                    <input type="text" class="form__field" id="city2">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="street" class="form__field-label">улица</label>
                                    <input type="text" class="form__field" id="street">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="building" class="form__field-label">дом</label>
                                    <input type="text" class="form__field" id="building">
                                </div>
                                <div class="form__field-wrapper">
                                    <label for="apartment" class="form__field-label">квартира</label>
                                    <input type="text" class="form__field" id="apartment">
                                </div>
                            </div>
                            <div class="delivery-form__footer">
                                <button class="btn btn--yellow delivery-form__btn">сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>