<div class="modal-overlay js-modal" id="registerPopup">
    <div class="modal _center _register">
        <button type="button" class="modal__close js-close" data-target="registerPopup">
            <span>Закрыть</span>
            <svg width="28" height="28">
                <use hlink: href="#cross" />
            </svg>
        </button>
        <div class="modal__inner">
            <h3 class="modal__title">регистрация</h3>
            <form action="#" method="post" class="form modal__form">
                <div class="form__fieldset _social _column">
                    <label for="birthday" class="form__field-label _yellow">через социальные сети:</label>
                    <div class="social-buttons">
                        <a href="#" class="social-button social-button--vk">
                            <svg width="39" height="24">
                                <use xlink:href="#vk" />
                            </svg>
                        </a>
                        <a href="#" class="social-button social-button--fb">
                            <svg width="21" height="39">
                                <use xlink:href="#fb" />
                            </svg>
                        </a>
                        <a href="#" class="social-button social-button--ok">
                            <svg width="24" height="41">
                                <use xlink:href="#ok" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="form__fieldset _column">
                    <label class="form__field-label _yellow">или через сайт:</label>
                    <div class="form__register-block">
                        <div class="form__field-wrapper">
                            <label for="username" class="form__field-label">имя</label>
                            <input type="text" class="form__field" id="username">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="surname" class="form__field-label">фамилия</label>
                            <input type="text" class="form__field" id="surname">
                        </div>
                        <div class="form__field-wrapper _invalid">
                            <label for="email" class="form__field-label">e-mail</label>
                            <input type="email" class="form__field" id="email">
                            <div class="error-message">Введите корректный электронный адрес</div>
                        </div>
                        <div class="form__field-wrapper">
                            <label for="birthday" class="form__field-label">ваш день рождения:</label>
                            <div class="form__select-wrapper">
                                <select name="day" id="birthday" class="custom-select _day">
                                    <option value="1" selected>30</option>
                                    <option value="2">31</option>
                                </select>
                                <select name="month" id="month" class="custom-select _month">
                                    <option value="1" selected>сентября</option>
                                    <option value="2">октября</option>
                                </select>
                                <select name="year" id="year" class="custom-select _year">
                                    <option value="1" selected>1987</option>
                                    <option value="2">1988</option>
                                </select>
                            </div>
                        </div>
                        <div class="form__field-wrapper">
                            <label for="region" class="form__field-label">регион</label>
                            <input type="text" class="form__field" id="region">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="city" class="form__field-label">город</label>
                            <input type="text" class="form__field" id="city">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="password" class="form__field-label">пароль</label>
                            <input type="password" class="form__field" id="password">
                        </div>
                        <div class="form__field-wrapper">
                            <label for="newpassword" class="form__field-label">пароль еще раз</label>
                            <input type="password" class="form__field" id="newpassword">
                        </div>
                        <div class="form__field-wrapper _rules">
                            <input type="checkbox" class="form__checkbox" id="rules" checked>
                            <label for="rules" class="form__checkbox-label">Я соглашаюсь с <a href="#" class="form__link"><span>правилами акции</span></a></label>
                        </div>
                    </div>
                </div>
                <button class="btn btn--yellow modal__btn">зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>