<div class="modal-overlay js-modal" id="addressPopup">
    <div class="modal _center _address">
        <button type="button" class="modal__close js-close" data-target="addressPopup">
            <span>Закрыть</span>
            <svg width="28" height="28">
                <use hlink: href="#cross" />
            </svg>
        </button>
        <div class="modal__inner">
            <h3 class="modal__title">адрес доставки</h3>
            <form action="#" method="post" class="form modal__form">
                <div class="form__fieldset _column _fullwidth">
                    <label for="address" class="form__field-label _yellow">введите адрес, который не удалось найти:</label>
                    <div class="form__field-wrapper">
                        <input type="text" class="form__field" id="address" value="г. Москва, ул. Стачек, д. 87">
                    </div>
                </div>
                <div class="form__fieldset _captcha">
                    <label for="captcha" class="form__captcha-label">Введите символы с&nbsp;изображения</label>
                    <div class="captcha-img">
                        <img src="assets/images/captcha.jpg" width="112" height="48" alt="">
                    </div>
                    <input class="form__field form__captcha-field" type="text" id="captcha">
                </div>
                <button class="btn btn--yellow modal__btn">отправить</button>
            </form>
        </div>
    </div>
</div>