<div class="modal-overlay js-modal" id="registerForm">
    <div class="modal _register-form">
        <button type="button" class="modal__close js-close" data-target="registerForm">
            <span>Закрыть</span>
            <svg width="28" height="28">
                <use hlink: href="#cross" />
            </svg>
        </button>
        <div class="modal__inner scrollable">
            <form action="#" method="post" class="form register-form disabled">
                <h2 class="register-form__title"><span class="emph">регистрация </span>чека</h2>
                <div class="form__field-wrapper">
                    <label for="check-number" class="form__field-label register-form__field-label">номер чека</label>
                    <input type="text" class="form__field" id="check-number">
                </div>
                <div class="form__field-wrapper">
                    <label for="check-date" class="form__field-label register-form__field-label">дата и время в&nbsp;чеке</label>
                    <input type="text" class="form__field _date" id="check-date" placeholder="ДД/ММ/ГГГГ">
                </div>
                <div class="form__field-wrapper">
                    <label for="check-photo" class="form__field-label register-form__field-label">фото чека</label>
                    <div class="form__upload-block">
                        <span class="path"></span>
                        <input type="file" class="form__upload" id="check-photo">
                        <div class="form__upload-link">Обзор...</div>
                    </div>
                </div>
                <div class="register-form__footer">
                    <div class="form__field-wrapper">
                        <input type="checkbox" class="form__checkbox" id="rules" checked>
                        <label for="rules" class="form__checkbox-label register-form__checkbox-label">Я согласен с <a href="#" class="form__link"><span>правилами акции</span></a>, с <a href="#" class="form__link"><span>пользовательским соглашением</span></a> и с <a href="#" class="form__link"><span>положением о конфиденциальности</span></a></label>
                    </div>
                    <button class="btn btn--yellow form__submit register-form__submit">Зарегистрировать чек</button>
                </div>
                <div class="form-message">
                    <p>Для регистрации чека, пожалуйста, <a href="#">зарегистрируйтесь</a></p>
                </div>
            </form>
        </div>
    </div>
</div>