<div class="modal-overlay js-modal _check-required" id="agePopup">
    <div class="modal _center _age">
        <div class="modal__inner">
            <h3 class="modal__title">проверка возраста</h3>
            <div class="modal__text-block">
                <p class="modal__text">Как ответственный производитель, мы должны проверить Ваш возраст, чтобы убедиться, что мы придерживаемся наших обязательств на рынке и перед своим потребителем</p>
            </div>
            <form action="#" method="post" class="form modal__form">
                <div class="form__fieldset _center">
                    <label for="birthday" class="form__field-label _yellow">ваш день рождения:</label>
                    <div class="form__select-wrapper">
                        <select name="day" id="birthday" class="custom-select _day">
                            <option value="1" selected>30</option>
                            <option value="2">31</option>
                        </select>
                        <select name="month" id="month" class="custom-select _month">
                            <option value="1" selected>сентября</option>
                            <option value="2">октября</option>
                        </select>
                        <select name="year" id="year" class="custom-select _year">
                            <option value="1" selected>1987</option>
                            <option value="2">1988</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn--yellow modal__btn">Подтверждаю</button>
            </form>
        </div>
    </div>
</div>