<div class="modal-overlay js-modal" id="authorizePopup">
    <div class="modal _center _authorize">
        <button type="button" class="modal__close js-close" data-target="authorizePopup">
            <span>Закрыть</span>
            <svg width="28" height="28">
                <use hlink: href="#cross" />
            </svg>
        </button>
        <div class="modal__inner">
            <h3 class="modal__title">авторизация</h3>
            <form action="#" method="post" class="form modal__form">
                <div class="form__fieldset _social _column">
                    <label for="birthday" class="form__field-label _yellow _center">через социальные сети:</label>
                    <div class="social-buttons">
                        <a href="#" class="social-button social-button--vk">
                            <svg width="39" height="24">
                                <use xlink:href="#vk" />
                            </svg>
                        </a>
                        <a href="#" class="social-button social-button--fb">
                            <svg width="21" height="39">
                                <use xlink:href="#fb" />
                            </svg>
                        </a>
                        <a href="#" class="social-button social-button--ok">
                            <svg width="24" height="41">
                                <use xlink:href="#ok" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="form__fieldset _column">
                    <label class="form__field-label _yellow _center">или через сайт:</label>
                    <div class="form__field-wrapper">
                        <label for="email" class="form__field-label">e-mail</label>
                        <input type="email" class="form__field" id="email">
                    </div>
                    <div class="form__field-wrapper">
                        <label for="password" class="form__field-label">пароль</label>
                        <input type="password" class="form__field" id="password">
                    </div>
                    <div class="form__field-wrapper _sb">
                        <div class="form__field-inner _remember">
                            <input id="ytUsers_remember" type="hidden" value="0" name="Users[remember]"><input class="form__checkbox" name="Users[remember]" id="Users_remember" value="1" type="checkbox">                                       <label for="Users_remember" class="form__checkbox-label remember-link">Запомнить меня</label>
                            <div class="errorMessage" id="Users_remember_em_" style="display:none"></div>
                        </div>
                        <div class="form__field-inner">
                            <a href="#ForgotModal" data-target="ForgotModal" class="clear_forgot_form js-modal-trigger form__link">Вспомнить пароль</a>
                        </div>
                    </div>
                </div>
                <div class="form__field-wrapper form__btn-wrap _sb">
                    <div class="form__field-inner">
                        <button class="btn btn--yellow modal__btn">войти</button>
                    </div>
                    <div class="form__field-inner _left _low-gut">
                        <span class="bl">ИЛИ</span>
                        <a href="#RegModal" data-target="RegModal" class="clear_reg_form js-modal-trigger form__link">зарегистрироваться</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>