<div class="modal-overlay js-modal" id="messagePopup">
    <div class="modal _center _message">
        <button type="button" class="modal__close js-close" data-target="messagePopup">
            <span>Закрыть</span>
            <svg width="28" height="28">
                <use hlink: href="#cross" />
            </svg>
        </button>
        <div class="modal__inner">
            <h3 class="modal__title">код зарегистрирован</h3>
            <div class="modal__text-block">
                <p class="modal__text">Ваш код успешно зарегистрирован!</p>
                <p class="modal__text">Ближайший розыгрыш призов состоится 28 июня 2018 г.</p>
                <p class="modal__text">Желаем удачи!</p>
            </div>
            <button type="button" class="btn js-close btn--yellow modal__btn">Отлично!</button>
        </div>
    </div>
</div>