<section class="section faq" data-anchor="faq">
    <div class="section__wrapper faq__wrapper layout-positioner">
        <h2 class="faq__title">вопросы и ответы</h2>
        <div class="faq__inner scrollable">
            <div class="faq__col">
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>кто является огранизатором акции?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>каковы сроки проведения акции?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>как зарегистрировать код?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>сколько кодов я могу зарегистрировать?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>какие призы разыгрываются в акции?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>нужно ли уплачивать налог с приза?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>как я узнаю, что я выиграл приз?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__col">
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>сколько призов может получить один участник?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>как мне доставят приз?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <div class="question js-question">
                    <div class="question__trigger js-question-trigger">
                        <p>как зарегистрировать чек?</p>
                    </div>
                    <div class="question__body">
                        <div class="question__inner">
                            <p>В связи с неденежным характером приза, Организатор, выступая налоговым агентом, не имеет возможности удержать налог на доходы физического лица при вручении Приза. В соответствии с пунктом 4 статьи 228 НК РФ Победитель Акции должен исчислить и уплатить налог самостоятельно. </p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn btn--transparent faq__link">задать свой вопрос</a>
            </div>
        </div>
    </div>
</section>