<section class="section gifts" data-anchor="gifts">
    <div class="section__wrapper gifts__wrapper layout-positioner">
        <h2 class="gifts__title">призы</h2>
        <div class="js-mobile-slider js-gifts-slider gifts__slider-wrapper">
            <ul class="gifts__list js-mobile-wrapper">
                <li class="js-mobile-slide">
                    <div class="gifts__img">
                        <picture>
                            <source srcset="assets/images/gift01-mob.png" width="640" height="661" media="(max-width: 1023px)">
                            <img src="assets/images/gift01.png" width="613" height="595" alt="">
                        </picture>
                    </div>
                    <div class="gifts__info">
                        <p class="gifts__name">спортивная сумка</p>
                        <p class="gifts__descr">каждый день</p>
                    </div>
                </li>
                <li class="js-mobile-slide">
                    <div class="gifts__img">
                        <picture>
                            <source srcset="assets/images/gift02-mob.png" width="640" height="661" media="(max-width: 1023px)">
                            <img src="assets/images/gift02.png" width="259" height="466" alt="">
                        </picture>
                    </div>
                    <div class="gifts__info">
                        <p class="gifts__name">смартфон X</p>
                        <p class="gifts__descr">каждую неделю</p>
                    </div>
                </li>
                <li class="js-mobile-slide">
                    <div class="gifts__img">
                        <picture>
                            <source srcset="assets/images/gift03-mob.png" width="640" height="661" media="(max-width: 1023px)">
                            <img src="assets/images/gift03.png" width="485" height="452" alt="">
                        </picture>
                    </div>
                    <div class="gifts__info">
                        <p class="gifts__name">поездка в бразилию </p>
                        <p class="gifts__descr">на встречу с роналдо</p>
                    </div>
                </li>
            </ul>
            <button type="button" class="swiper-button-prev">
                <svg width="38" height="60">
                    <use xlink:href="#next" />
                </svg>
            </button>
            <button type="button" class="swiper-button-next">
                <svg width="38" height="60">
                    <use xlink:href="#next" />
                </svg>
            </button>
        </div>
        <div class="reg-code__wrap gifts__link-wrap">
            <a href="#" target="_blank" class="btn btn--yellow gifts__btn code-btn js-code-btn">Зарегистрировать код</a>
            <form class="form reg-code__inner">
                <input type="text" class="form__field">
                <button class="btn btn--yellow js-send-code" data-target="authorizePopup">ок</button>
            </form>
        </div>
    </div>
</section>