<section class="section winners">
    <div class="section__wrapper winners__wrapper layout-positioner">
        <h2 class="winners__title">победители</h2>
        <div class="winners-table-block">
            <form action="#" method="post" class="search-form form">
                <div class="form__field-wrapper">
                    <label for="search" class="form__field-label search-form__field-label">найди себя в&nbsp;списке</label>
                    <input type="search" class="form__field search-form__field" placeholder="Введите имя или номер телефона">
                    <button class="search-form__btn">
                        <svg width="30" height="30">
                            <use xlink:href="#search" />
                        </svg>
                    </button>
                </div>
            </form>
            <div class="winners-table-wrapper">
                <div class="winners-table-head">Победитель <span class="current-winner">1</span> из <span class="total-winners">108</span></div>
                <table class="winners-table">
                    <tr class="winners-table__header">
                        <th>
                            <p class="winners-table__headline">имя</p>
                        </th>
                        <th>
                            <p class="winners-table__headline">телефон</p>
                        </th>
                        <th>
                            <p class="winners-table__headline">приз</p>
                        </th>
                        <th>
                            <p class="winners-table__headline sorting-link js-sorting-link">дата</p>
                        </th>
                    </tr>
                    <tr class="winners-table__row _desktop active">
                        <td>
                            <p class="winners-table__content">Константин К.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Константин К.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Поездка в Бразилию</p>
                        </td>
                        <td>
                            <p class="winners-table__content">15/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row _desktop">
                        <td>
                            <p class="winners-table__content">Валерия М.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Валерия М.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Смартфон</p>
                        </td>
                        <td>
                            <p class="winners-table__content">15/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row _desktop">
                        <td>
                            <p class="winners-table__content">Александр Т.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Александр Т.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Спортивная сумка</p>
                        </td>
                        <td>
                            <p class="winners-table__content">15/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row _desktop">
                        <td>
                            <p class="winners-table__content">Роман В.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Роман В.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Спортивная сумка</p>
                        </td>
                        <td>
                            <p class="winners-table__content">14/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row">
                        <td>
                            <p class="winners-table__content">Виктория Л.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Виктория Л.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Спортивная сумка</p>
                        </td>
                        <td>
                            <p class="winners-table__content">13/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row">
                        <td>
                            <p class="winners-table__content">Олег Р.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Олег Р.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Спортивная сумка</p>
                        </td>
                        <td>
                            <p class="winners-table__content">12/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row">
                        <td>
                            <p class="winners-table__content">Татьяна Д.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Татьяна Д.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Спортивная сумка</p>
                        </td>
                        <td>
                            <p class="winners-table__content">11/07/2018</p>
                        </td>
                    </tr>
                    <tr class="winners-table__row">
                        <td>
                            <p class="winners-table__content">Николай Ш.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Николай Ш.</p>
                        </td>
                        <td>
                            <p class="winners-table__content">Спортивная сумка</p>
                        </td>
                        <td>
                            <p class="winners-table__content">10/07/2018</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul class="pagination__list">
                    <li class="pagination__item _prev">
                        <a href="#" class="js-winner-btn prev">
                            <img src="assets/images/prev.png" width="24" height="20" alt="">
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">1</a>
                    </li>
                    <li class="pagination__item _ellipsis">
                        <a>...</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">6</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">7</a>
                    </li>
                    <li class="pagination__item _current">
                        <a href="#">8</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">9</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">10</a>
                    </li>
                    <li class="pagination__item _ellipsis">
                        <a>...</a>
                    </li>
                    <li class="pagination__item">
                        <a href="#">22</a>
                    </li>
                    <li class="pagination__item _next">
                        <a href="#" class="js-winner-btn next">
                            <img src="assets/images/next.png" width="24" height="20" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
