<section class="section products" data-anchor="products">
    <div class="section__wrapper products__wrapper layout-positioner">
        <h2 class="products__title"><span class="emph">продукты, </span>участвующие в акции</h2>
        <div class="js-mobile-slider js-products-slider products__slider">
            <div class="products__inner js-mobile-wrapper">
                <div class="product js-mobile-slide">
                    <div class="product__img">
                        <img src="assets/images/product01.png" width="265" height="71" alt="">
                    </div>
                    <h3 class="product__title">Snickers® STANDART 50,5г </h3>
                </div>
                <div class="product js-mobile-slide">
                    <div class="product__img">
                        <img src="assets/images/product03.png" width="305" height="68" alt="">
                    </div>
                    <h3 class="product__title">Snickers® super 95г </h3>
                </div>
                <div class="product js-mobile-slide">
                    <div class="product__img">
                        <img src="assets/images/product02.png" width="117" height="175" alt="">
                    </div>
                    <h3 class="product__title">Snickers® MINIS BAG 180г</h3>
                </div>
                <div class="product js-mobile-slide">
                    <div class="product__img">
                        <img src="assets/images/product04.png" width="206" height="82" alt="">
                    </div>
                    <h3 class="product__title">Snickers® MULTIPACK 200г</h3>
                </div>
            </div>
            <button type="button" class="swiper-button-prev">
                <svg width="38" height="60">
                    <use xlink:href="#next" />
                </svg>
            </button>
            <button type="button" class="swiper-button-next">
                <svg width="38" height="60">
                    <use xlink:href="#next" />
                </svg>
            </button>
        </div>
    </div>
</section>