<section class="section intro" data-anchor="intro">
    <div class="section__wrapper intro__wrapper layout-positioner">
        <div class="intro__col">
            <!--<div class="intro__special-products special-products js-special-products">-->
                <!--<div class="special-products__inner">-->
                    <!--<div class="special-products__trigger js-special-products-trigger">-->
                        <!--<p>продукты, участвующие в акции</p>-->
                    <!--</div>-->
                    <!--<div class="special-products__list scrollable">-->
                        <!--<ul>-->
                            <!--<li class="special-product">-->
                                <!--<div class="special-product__img">-->
                                    <!--<img src="assets/images/product01.png" width="265" height="71" alt="">-->
                                <!--</div>-->
                                <!--<p class="special-product__title">Snickers® STANDART 50,5г </p>-->
                            <!--</li>-->
                            <!--<li class="special-product">-->
                                <!--<div class="special-product__img">-->
                                    <!--<img src="assets/images/product02.png" width="117" height="175" alt="">-->
                                <!--</div>-->
                                <!--<p class="special-product__title">Snickers® MINIS BAG 180г</p>-->
                            <!--</li>-->
                            <!--<li class="special-product">-->
                                <!--<div class="special-product__img">-->
                                    <!--<img src="assets/images/product03.png" width="305" height="68" alt="">-->
                                <!--</div>-->
                                <!--<p class="special-product__title">Snickers® super 95г </p>-->
                            <!--</li>-->
                            <!--<li class="special-product">-->
                                <!--<div class="special-product__img">-->
                                    <!--<img src="assets/images/product04.png" width="206" height="82" alt="">-->
                                <!--</div>-->
                                <!--<p class="special-product__title">Snickers® MULTIPACK 200г</p>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <h1 class="intro__title">Выигрывай призы  <span class="emph">от Роналдо</span></h1>
            <ol class="intro__steps steps">
                <li class="step">
                    <p class="step__slogan">найди код</p>
                    <p class="step__descr">на внутренней части упаковки</p>
                </li>
                <li class="step">
                    <p class="step__slogan">зарегистрируй</p>
                    <p class="step__descr">код на <a href="https://www.snickers.ru/" target="_blank">www.snickers.ru</a></p>
                </li>
                <li class="step">
                    <p class="step__slogan">получи шанс</p>
                    <p class="step__descr">выиграть призы от роналдо!</p>
                </li>
            </ol>
            <div class="intro__links">
                <div class="reg-code__wrap">
                    <a href="#" target="_blank" class="btn btn--yellow intro__btn code-btn js-code-btn">Зарегистрировать код</a>
                    <form class="form reg-code__inner">
                        <input type="text" class="form__field">
                        <button class="btn btn--yellow js-send-code" data-target="authorizePopup">ок</button>
                    </form>
                </div>
                <a href="#" class="intro__link"><span>Полные правила акции</span></a>
            </div>
            <a href="#gifts" data-menuanchor="gifts" class="scroll-link _desktop btn btn--yellow">
                <span>Вниз</span>
                <img src="assets/images/scroll.png" width="31" height="37" alt="">
            </a>
        </div>
    </div>
</section>