<section class="section section--mobile offer-rules" data-anchor="offer-rules">
    <div class="section__wrapper offer-rules__wrapper layout-positioner">
        <ol class="offer-rules__steps steps">
            <li class="step">
                <p class="step__slogan">найди код</p>
                <p class="step__descr">на внутренней части упаковки</p>
            </li>
            <li class="step">
                <p class="step__slogan">зарегистрируй</p>
                <p class="step__descr">код на <a href="https://www.snickers.ru/" target="_blank">www.snickers.ru</a></p>
                <a href="https://www.snickers.ru/" target="_blank" class="btn btn--yellow step__btn">Зарегистрировать код</a>
            </li>
            <li class="step">
                <p class="step__slogan">получи шанс</p>
                <p class="step__descr">выиграть призы от роналдо!</p>
            </li>
        </ol>
        <div class="offer-rules__links">
            <a href="#gifts" data-menuanchor="gifts" class="offer-rules__scroll scroll-link _mobile btn btn--yellow">
                <span>Вниз</span>
                <img src="assets/images/scroll.png" width="31" height="37" alt="">
            </a>
            <a href="#" class="offer-rules__link"><span>Полные правила акции</span></a>
        </div>
    </div>
</section>