<section class="section offers">
    <div class="section__wrapper offers__wrapper layout-positioner">
        <h2 class="offers__title">акции в торговых сетях</h2>
        <div class="js-tabs-rtl offers__tabs">
            <div class="tab-controls-wrapper js-tab-controls-wrapper">
                <div class="tab-controls-trigger">
                    <p class="tab-controls-trigger__label">выбери сеть:</p>
                    <div class="tab-controls-trigger__btn js-tab-controls-button">
                        <img class="js-tab-indicator" src="assets/images/logo-metro.png" width="136" height="36" alt="">
                    </div>
                </div>
                <ul class="tab-controls">
                    <li class="tab-control js-tab-control">
                        <div class="tab-control__image">
                            <img src="assets/images/logo-rw.png" width="125" height="38" alt="">
                        </div>
                    </li>
                    <li class="tab-control js-tab-control">
                        <div class="tab-control__image">
                            <img src="assets/images/logo-auchan.png" width="116" height="32" alt="">
                        </div>
                    </li>
                    <li class="tab-control js-tab-control">
                        <div class="tab-control__image">
                            <img src="assets/images/logo-5.png" width="148" height="32" alt="">
                        </div>
                    </li>
                    <li class="tab-control js-tab-control">
                        <div class="tab-control__image">
                            <img src="assets/images/svg/logo-dixi.svg" width="128" height="36" alt="">
                        </div>
                    </li>
                    <li class="tab-control js-tab-control">
                        <div class="tab-control__image">
                            <img src="assets/images/logo-lenta.png" width="136" height="36" alt="">
                        </div>
                    </li>
                    <li class="tab-control js-tab-control active">
                        <div class="tab-control__image">
                            <img src="assets/images/logo-metro.png" width="136" height="36" alt="">
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="tabs">
                <li class="tab offers__tab js-tab active">
                    <div class="tab__col offers__tab-col">
                        <form action="#" method="post" class="offers__form form register-form disabled">
                            <h2 class="register-form__title">регистрация чека</h2>
                            <div class="form__field-wrapper">
                                <label for="check-number" class="form__field-label register-form__field-label">номер чека</label>
                                <input type="text" class="form__field" id="check-number">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="check-date" class="form__field-label register-form__field-label">дата и время в&nbsp;чеке</label>
                                <input type="text" class="form__field _date" id="check-date" placeholder="ДД/ММ/ГГГГ">
                            </div>
                            <div class="form__field-wrapper">
                                <label for="check-photo" class="form__field-label register-form__field-label">фото чека</label>
                                <div class="form__upload-block">
                                    <input type="file" class="form__upload" id="check-photo">
                                    <div class="form__upload-link">Обзор...</div>
                                </div>
                            </div>
                            <div class="register-form__footer">
                                <div class="form__field-wrapper">
                                    <input type="checkbox" class="form__checkbox" id="rules" checked>
                                    <label for="rules" class="form__checkbox-label">Я согласен с <a href="#" class="form__link"><span>правилами акции</span></a>, с <a href="#" class="form__link"><span>пользовательским соглашением</span></a> и с <a href="#" class="form__link"><span>положением о конфиденциальности</span></a></label>
                                </div>
                                <button class="btn btn--yellow form__submit register-form__submit">Зарегистрировать чек</button>
                            </div>
                            <div class="form-message">
                                <p>Для регистрации чека, пожалуйста, <a href="#"><span>зарегистрируйтесь</span></a></p>
                            </div>
                        </form>
                    </div>
                    <div class="tab__col offers__tab-col">
                        <div class="rules">
                            <ol class="rules__list">
                                <li class="rules-step">
                                    <p class="rules-step__slogan">купи</p>
                                    <p class="rules-step__descr">любой snickers®</p>
                                </li>
                                <li class="rules-step">
                                    <p class="rules-step__slogan _desktop">зарегистрируй чек</p>
                                    <p class="rules-step__descr _desktop">в форме слева</p>
                                    <a href="#" class="btn btn--yellow rules-step__btn js-modal-trigger" data-target="register-form">Зарегистрируй чек</a>
                                </li>
                                <li class="rules-step">
                                    <div class="rules-step__item">
                                        <p class="rules-step__slogan">получи</p>
                                        <p class="rules-step__descr">гарантированно возврат 5% от суммы покупки snickers® на&nbsp;счет мобильного телефона</p>
                                    </div>
                                    <div class="rules-step__item">
                                        <p class="rules-step__slogan">и участвуй</p>
                                        <p class="rules-step__descr">в розыгрыше сертификата на путешествие в&nbsp;страну чемпионов</p>
                                    </div>
                                </li>
                            </ol>
                            <div class="rules__image">
                                <img src="assets/images/prize.png" width="280" height="156" alt="">
                            </div>
                        </div>
                    </div>
                </li>
                <li class="tab offers__tab js-tab"></li>
                <li class="tab offers__tab js-tab"></li>
                <li class="tab offers__tab js-tab"></li>
                <li class="tab offers__tab js-tab"></li>
                <li class="tab offers__tab js-tab"></li>
            </ul>
        </div>
    </div>
</section>