<div class="social">
    <p class="social__label">Поделиться сайтом</p>
    <div class="ya-share2" data-services="facebook,vkontakte,odnoklassniki,twitter" data-title="" data-description="" data-image="" data-bare></div>
</div>