<section class="section footer-section fp-auto-height">
    <div class="footer ">
        <div class="container">
            <div class="footer-main">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="winners__note">Организатор Акции – ООО «ТМА Маркетинг Сервисез». Общий срок проведения акции: с 20.05.2018  по 30.09.2018. Срок регистрации кодов с 20.05.2018  по 15.07.2018 * Количество призов ограничено. Полная информация об организаторе акции, правилах ее проведения, количестве призов, сроках, месте и порядке их получения размещена на <a href="www.snickers.ru" target="_blank">www.snickers.ru</a>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-col">
                            <div class="footer-info">
                                <div class="footer-label">Наше обещание</div>
                                <div class="footer-text">
                                    В компании «МАРС» мы ответственно подходим к вопросам маркетингового продвижения своих брендов. У нас есть внутренний Маркетинговый кодекс, который представляет собой свод правил по продвижению нашей продукции. Кодекс содержит положение, согласно которому рекламные кампании ООО «МАРС» адресованы лицам, достигшим 12-летнего возраста.<br>
                                    Мы считаем, что начиная с этого возраста люди делают осознанный выбор относительно того, как разумно потреблять кондитерскую продукцию.<br>
                                    Мы используем Маркетинговый кодекс при планировании и проведении рекламных кампаний. Мы хотим, чтобы вы и ваша семья обладали самой полной и достоверной информацией о нашей продукции.<br>
                                    Если вы хотите узнать больше о том, как ответственно мы рекламируем свою продукцию, используйте ссылку, чтобы ознакомиться с Маркетинговым кодексом компании Mars.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-col footer-col-indent">
                            <a href="/uploads/codex.pdf" target="_blank" class="footer-link-item">
                                <div class="footer-link-icon">
                                    <svg width="60" height="60">
                                        <use xlink:href="#mars_icon_handshake" />
                                    </svg>
                                </div>
                                <div class="footer-link-title">НАШЕ<br>ОБЕЩАНИЕ</div>
                            </a>
                            <div class="footer-info">
                                <div class="footer-label">Это маркетинговый сайт</div>
                                <div class="footer-text">
                                    Если вам нет 13 лет, компания «МАРС» настаивает, что вам необходимо получить разрешение от своего родителя или опекуна, прежде чем оставлять любую информацию о себе в интернете*.<br>
                                    * В том случае, если отправление информации через интернет связано с заключением сделок, необходимо иметь в виду действующие положения Гражданского кодекса РФ о том, что полную дееспособность гражданин приобретает по достижении 18-летнего возраста (ст. 21 ГК РФ), согласие законного представителя на совершение большинства сделок требуется, если ребенку от 14 до 18 лет (ст. 26 ГК РФ), до 14 лет ребенок вправе совершать сделки из ограниченного ст. 28 ГК РФ списка категорий сделок.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-links">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-link-col">
                        <a href="http://www.mars.com/global/policies/privacy/pp-russian" target="_blank" class="footer-link-item">
                            <div class="footer-link-icon">
                                <svg width="60" height="60">
                                    <use xlink:href="#mars_icon_key" />
                                </svg>
                            </div>
                            <div class="footer-link-title">Конфиденциальность</div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-link-col">
                        <a href="http://www.mars.com/global/policies/legal/ld-russian" target="_blank" class="footer-link-item">
                            <div class="footer-link-icon">
                                <svg width="60" height="60">
                                    <use xlink:href="#mars_icon_scale" />
                                </svg>
                            </div>
                            <div class="footer-link-title">Юридические условия</div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-link-col">
                        <a href="/index.php?r=site/production" class="footer-link-item">
                            <div class="footer-link-icon">
                                <svg width="60" height="60">
                                    <use xlink:href="#mars_icon_forkknife" />
                                </svg>
                            </div>
                            <div class="footer-link-title">Информация о пищевой ценности</div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-link-col">
                        <a href="http://www.mars.com/global/policies/note-to-parents/np-russian" target="_blank" class="footer-link-item">
                            <div class="footer-link-icon">
                                <svg width="60" height="60">
                                    <use xlink:href="#mars_icon_parents" />
                                </svg>
                            </div>
                            <div class="footer-link-title">Для родителей</div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-link-col">
                        <!-- #contacts-modal -->
                        <a href="#FeedbackModal" class="custom-modal-open footer-link-item">
                            <div class="footer-link-icon">
                                <svg width="60" height="60">
                                    <use xlink:href="#mars_icon_mail" />
                                </svg>
                            </div>
                            <div class="footer-link-title">Контакты</div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 footer-link-col">
                        <a href="http://international.mars.com/cis/ru/site-owner.aspx" target="_blank" class="footer-link-item">
                            <div class="footer-link-icon">
                                <svg width="60" height="60">
                                    <use xlink:href="#mars_icon_m" />
                                </svg>
                            </div>
                            <div class="footer-link-title">Владелец сайта</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-rights text-right">
                ©2018 Mars, Incorporated. Все права защищены.<br>
                ®TM Snickers, Торговая марка Mars Incorporated и её филиалов.
            </div>
        </div>
    </div>
</section>