<header class="page-header js-page-header" id="header">
    <div class="page-header__inner">
        <div class="page-header__wrapper layout-positioner">
            <a href="#" class="logo page-header__logo">
                <img src="assets/images/logo.png" width="145" height="36" alt="">
            </a>
            <button type="button" class="page-header__menu-trigger menu-trigger js-menu-trigger"><span>Меню</span></button>
            <nav class="main-navigation">
                <div class="main-navigation__wrapper js-mobile-menu">
                    <ul class="main-menu">
                        <li class="main-menu__item js-submenu-trigger current">
                            <a class="main-menu__link"><span>Акция</span></a>
                            <ul class="submenu js-submenu js-menu" id="#menu">
                                <li class="submenu__item js-step menuanchor active" data-menuanchor="intro" data-index="0">
                                    <a href="#intro" class="submenu__link"><span>Зарегистрировать код</span></a>
                                </li>
                                <li class="submenu__item submenu__item--mobile menuanchor" data-menuanchor="offer-rules">
                                    <a href="#offer-rules" class="submenu__link"><span>Правила акции</span></a>
                                </li>
                                <li class="submenu__item  js-step menuanchor" data-menuanchor="gifts" data-index="1">
                                    <a href="#gifts" class="submenu__link"><span>Призы</span></a>
                                </li>
                                <li class="submenu__item js-step menuanchor" data-menuanchor="products" data-index="2">
                                    <a href="#products" class="submenu__link"><span>Акционные продукты</span></a>
                                </li>
                                <li class="submenu__item  js-step menuanchor" data-menuanchor="offers" data-index="3">
                                    <a href="#offers" class="submenu__link"><span>Акции в торговых сетях</span></a>
                                </li>
                                <li class="submenu__item  js-step menuanchor" data-menuanchor="faq" data-index="4">
                                    <a href="#faq" class="submenu__link"><span>Вопросы и ответы</span></a>
                                </li>
                                <li class="submenu__item  js-step menuanchor" data-menuanchor="winners" data-index="5">
                                    <a href="#winners" class="submenu__link"><span>Победители</span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Создай свой Snickers</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Продукция</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>О бренде</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Где купить?</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Задать вопрос</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="user-nav">
                <ul>
                    <li class="user-nav__item">
                        <a href="#" class="user-nav__link"><span>Войти <span class="_desktop">в личный кабинет</span></span></a>
                    </li>
                </ul>
                <div class="user-nav__social social">
                    <a href="https://vk.com/snickers_russia" target="_blank" class="social-btn social-btn--vk">
                        <svg width="22" height="14">
                            <use xlink:href="#vk" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="page-header__mobile-menu">
                <div class="user-nav user-nav--mobile">
                    <a href="#" class="user-nav__link"><span>Войти <span class="_desktop">в личный кабинет</span></span></a>
                </div>
                <ul class="main-menu main-menu--mobile">
                    <li class="main-menu__item active">
                        <a href="#" class="main-menu__link"><span>Зарегистрировать код</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Создай свой Snickers</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Продукция</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>О бренде</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Где купить?</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Задать вопрос</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>