<header class="page-header js-page-header">
    <div class="page-header__inner">
        <div class="page-header__wrapper layout-positioner">
            <a href="#" class="logo page-header__logo">
                <img src="assets/images/logo.png" width="145" height="36" alt="">
            </a>
            <button type="button" class="page-header__menu-trigger menu-trigger js-menu-trigger"><span>Меню</span></button>
            <nav class="main-navigation">
                <div class="main-navigation__wrapper js-mobile-menu">
                    <ul class="main-menu">
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Создай свой Snickers</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Продукция</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>О бренде</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Где купить?</span></a>
                        </li>
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link"><span>Задать вопрос</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="user-nav">
                <ul>
                    <li class="user-nav__item">
                        <a href="#" class="user-nav__link _login">
                            <svg class="icon" width="18" height="20">
                                <use xlink:href="#login" />
                            </svg>
                            <span>личный кабинет</span>
                        </a>
                    </li>
                    <li class="user-nav__item">
                        <a href="#" class="user-nav__link _logout">Выйти</a>
                    </li>
                </ul>
                <div class="user-nav__social social">
                    <a href="https://vk.com/snickers_russia" target="_blank" class="social-btn social-btn--vk">
                        <svg width="22" height="14">
                            <use xlink:href="#vk" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="page-header__mobile-menu">
                <div class="user-nav user-nav--mobile">
                    <ul>
                        <li class="user-nav__item">
                            <a href="#" class="user-nav__link _login">
                                <svg class="icon" width="18" height="20">
                                    <use xlink:href="#login" />
                                </svg>
                                <span>личный кабинет</span>
                            </a>
                        </li>
                        <li class="user-nav__item">
                            <a href="#" class="user-nav__link _logout">Выйти</a>
                        </li>
                    </ul>
                </div>
                <ul class="main-menu main-menu--mobile">
                    <li class="main-menu__item active">
                        <a href="#" class="main-menu__link"><span>Зарегистрировать код</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Создай свой Snickers</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Продукция</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>О бренде</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Где купить?</span></a>
                    </li>
                    <li class="main-menu__item">
                        <a href="#" class="main-menu__link"><span>Задать вопрос</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>