.section.footer-section {
    padding-top: 0;
    font-family: $font-add;
    background-color: #2b1501;
    background-image: none;
}

.white-theme .footer{
  background: #b8b8b8;
  color: rgba(32, 32, 32, 0.7)
}

.footer .row {
    display: flex;
}

.white-theme .footer-text{
  color: rgba(32, 32, 32, 0.7)
}

.white-theme .footer-link-title{
  color: rgba(32, 32, 32, 0.7)
}

.footer{
  background: #2b1501;
  position: relative;
  overflow: hidden;
  color: #d1af92;
  font-size: 0;
}

.footer .container{
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer-label{
  font: bold 22px 'Myriad Pro';
  text-transform: uppercase;
}

.footer-text{
  font: 13px/16px 'Myriad Pro';
  color: #d1af92;
  margin-top: 16px;
}

.footer-col-indent{
  padding-left: 130px;
}

.footer-col-indent .footer-link-item{
  position: absolute;
  top: 0;
  left: 0;
}

.footer-link-icon{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
}

.footer-link-icon img{
  display: inline-block;
  vertical-align: middle;
  max-width: 60px;
  max-height: 60px;
}

.footer-link-title{
  font: bold 15px 'Myriad Pro';
  color: #d1af92;
  text-align: center;
  margin-top: 10px;
}

.footer-link-item:hover .footer-link-title{
  color: #ef4d25;
}

.footer-links{
  margin-top: 40px;
}

.footer-col-indent{
  position: relative
}

.footer-rights {
  font: 600 13px/16px 'Myriad Pro';
  margin-top: 30px;
  text-align: right;
}

.footer_hide{
  display: none !important;
}

.footer.product-theme{
  display: block !important;
}

.footer:after{
  content: '';
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b1501+0,2b1501+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(43,21,1,1) 0%, rgba(43,21,1,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(43,21,1,1) 0%,rgba(43,21,1,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(43,21,1,1) 0%,rgba(43,21,1,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b1501', endColorstr='#002b1501',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50px;
}

.footer-link-title {
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1200px){
  .container{
    width: 100%;
    max-width: 1440px;
}
}

@media screen and (max-width: 1340px) {
  .footer-link-col{
    width: 25%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-bottom:30px;
}

.footer-links .row{
    margin-bottom: -30px;
    text-align: center;
}
}

@media screen and (max-width: 1199px) {

    .footer-col-indent {
        padding-left: 0;
    }
    .footer-main .col-xs-12{
        width: 100%;
    }

    .footer-col-indent .footer-link-item {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 100px;
        margin: 30px auto;

        display: none;
    }
    .footer-label {
        font: bold 15px 'Myriad Pro';
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer{
        height: auto;
        margin-top: 0;
    }
}

@media screen and (max-width: 767px) {
    .footer-rights{
        text-align: left;
    }

    .footer-link-col{
        width: 33.33333333%;
    }
}

@media screen and (max-width: 575px) {
    .footer-link-col{
        width: 50%;
    }
}