.page-header 
    position: fixed
    top: 0
    left: 0
    right: 0
    padding-bottom: 83px
    background-image: url("../images/nav-bar.png")
    background-repeat: repeat-x
    background-size: auto 113px
    background-position: bottom center
    z-index: 3

    @media (max-width: $screenXL)
        padding-bottom: 68px

    @media (max-width: $screenS)
        box-sizing: border-box
        padding-bottom: 79px
        height: 143px

    @media (max-width: $screenMob)
        padding-bottom: 40px
        height: 72px
        background-size: auto 60px

    &__inner 
        background-color: #462415

        @media (max-width: $screenMob)
            height: 32px

    &__wrapper 
        display: flex
        padding-top: 22px

        @media (max-width: $screenS)
            padding-top: 28px

        @media (max-width: $screenMob)
            padding-top: 14px

    &__logo
        margin-left: 35px
        margin-right: 55px

        @media (max-width: $screenL)
            margin-left: 0
            margin-right: 25px

        @media (max-width: $screenS)
            margin: 0
            margin-right: auto

    &__menu-trigger 
        position: absolute
        top: 25px
        right: 100px
        display: none

        @media (max-width: $screenM)
            display: block

        @media (max-width: $screenS)
            top: 30px
            right: 40px

        @media (max-width: $screenMob)
            top: 13px
            right: 20px

    &__mobile-menu 
        display: none 
        width: 100%

        @media (max-width: $screenM)
            display: flex

        @media (max-width: $screenM)
            position: fixed
            top: 64px
            left: 0
            right: 0
            bottom: 0
            flex-direction: column
            align-items: center
            max-height: 0
            background-color: #472514
            background-clip: content-box
            overflow: hidden
            transition: max-height 0.3s ease

            .opened &
                padding-bottom: 105px
                max-height: 100vh

                @media (max-width: $screenMob)
                    padding-bottom: 53px

            &:after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                right: 0
                height: 105px
                background-image: url("../images/nav-bar.png")
                background-repeat: repeat-x
                background-size: auto 105px 
                background-position: center
                display: none

                @media (max-width: $screenMob)
                    height: 53px
                    background-size: auto 53px

                .opened &
                    display: block

        @media (max-width: $screenMob)
            top: 32px

    &__btn 
        order: 2
        display: none

        @media (max-width: $screenS)
            display: inline-block
            vertical-align: top
